<template lang="pug">
  client-only
    .slider(:id="id")
      .slider__wrap(v-swiper:mySwiper="swiperOption")
        .swiper-wrapper
          slot
      .slider__actions
        button-info {{title}}
        .slider__pagination(slot='pagination')
        .slider__btns
          .button__next(slot='button-next')
            btn-circle(icon='arrow-left', color='light-gray')
          .button__prev(slot='button-prev')
            btn-circle(icon='arrow-right', color='light-gray')
</template>

<script>
import ButtonInfo from "~/components/ButtonInfo";
import BtnCircle from "~/components/BtnCircle";

export default {
  props: ['title'],
  components: { BtnCircle, ButtonInfo },
  name: "Slider",
  created() {
    this.id = 'slider-' + this._uid;
  },
  computed: {
    swiperOption() {
      return {
        slidesPerView: 'auto',
        spaceBetween: 30,
        pagination: {
          el: `#${this.id} .slider__pagination`,
          type: 'custom',
          renderCustom: function (swiper, current, total) {
            return '<span class="slider__pagination--current">'+ (current < 10 ? '0'+ current : current) +'</span>'
              + '<span class="slider__pagination--total">'+ (total < 10 ? '0'+ total : total) +'</span>';
          }
        },
        navigation: {
          nextEl: `#${this.id} .button__prev`,
          prevEl: `#${this.id} .button__next`,
        },
        breakpoints: {
          768: {
            spaceBetween: 15
          },
        }
      }
    }
  }
}
</script>

<style lang="scss">
.slider {
  @include media-breakpoint-down(xs) {
    margin-right: -20px;
  }
  &__btns {
    position: relative;
    display: flex;
    align-items: center;

    button {
      padding: 0;

      &:last-child {
        margin-left: 20px;
      }
    }
  }

  &__actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(xs) {
      padding-right: 20px;
    }
  }

  &__pagination {
    width: auto;
    margin: 0 40px 0 auto;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }

    &--current {
      font-weight: bold;
      font-size: 15px;
      line-height: 1;
      color: #0065BB;
    }
    &--total {
      font-weight: normal;
      font-size: 15px;
      line-height: 1;
      color: #949FA8;
      margin-left: 20px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: -15px;
        top: 8px;
        width: 10px;
        height: 1px;
        background-color: #949FA8;
      }
    }
  }
}
</style>
