<template lang="pug">
  .swiper-slide.slide
    slot
</template>

<script>
export default {
  name: "Slide"
}
</script>

<style lang="scss">
.slide {
  height: 400px;
  width: auto;

  @include media-breakpoint-down(xl) {
    height: 272px;
  }

  @include media-breakpoint-down(sm) {
    height: 164px;
  }

  img {
    height: 100%;
  }
}
</style>
