<template lang="pug">
  .carousel
    .carousel__wrap(v-swiper:Carousel="swiperOption")
      .swiper-wrapper
        slot
    .carousel__actions
      .carousel__btns
        .button__next(slot='button-next')
          btn-circle(icon='arrow-left', color='light-gray')
        .button__prev(slot='button-prev')
          btn-circle(icon='arrow-right', color='light-gray')
      slot(name="actions")

</template>

<script>
import BtnCircle from "~/components/BtnCircle";
export default {
  props: ['title'],
  components: {BtnCircle},
  name: "Carousel",
  data: () => ({
    swiperOption: {
      slidesPerView: 'auto',
      spaceBetween: 40,
      pagination: {
        el: '.slider__pagination',
        type: 'custom',
        renderCustom: function (swiper, current, total) {
          return '<span class="slider__pagination--current">'+ (current < 10 ? '0'+ current : current) +'</span>'
            + '<span class="slider__pagination--total">'+ (total < 10 ? '0'+ total : total) +'</span>';
        }
      },
      navigation: {
        nextEl: '.carousel__btns .button__prev',
        prevEl: '.carousel__btns .button__next',
      },
      breakpoints: {
        768: {
          spaceBetween: 30
        },
        480: {
          spaceBetween: 10
        },
      }
    }
  }),
}
</script>


<style lang="scss" scoped>
.carousel {
  &__actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btns {
    display: flex;
    align-items: center;
    .button__next {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

</style>
