<template lang="pug">
  .carousel__item.swiper-slide
    slot

</template>

<script>
export default {
  name: "CarouselItem"
}
</script>


<style lang="scss" scoped>
.carousel {
  &__item {
    max-width: 370px;
    width: 100%;
    @include media-breakpoint-down(lg) {
      max-width: 250px;
    }
  }
}
</style>
