<template>
  <div class="accordion">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Accordion",
  mounted() {
    this.$children.forEach(target => {
      target.$on('open', () => {
        this.$children.forEach(node => {
          if (target._uid !== node._uid) {
            node.close();
          }
        })
      })
    });
  }
}
</script>
