<template>
  <div class="accordion-card" :class="classes">
    <div class="accordion-card__header" @click="toggle">
      <div class="accordion-card__header-slot">
        <slot name="header">header</slot>
      </div>
      <div class="accordion-card__button">
        <BtnCircle color="light-gray" icon="arrow-open" />
      </div>
    </div>
    <transition
      v-on:before-enter="beforeEnter"
      v-on:enter="enter"
      v-on:after-enter="afterEnter"

      v-on:before-leave="beforeLeave"
      v-on:leave="leave"
      v-on:after-leave="afterLeave"
    >
      <div v-show="isOpen" class="accordion-card__content">
        <slot>Content</slot>
      </div>
    </transition>
  </div>
</template>

<script>
import anime from 'animejs';
import BtnCircle from "./BtnCircle";

export default {
  name: "AccordionCard",
  components: { BtnCircle },
  data: () => ({
    isOpen: false
  }),
  computed: {
    classes() {
      return {
        'accordion-card_open' : this.isOpen
      }
    }
  },
  watch: {
    isOpen(val) {
      this.$emit('toggle', val);
      if (val) {
        this.$emit('open');
      } else {
        this.$emit('close');
      }
    }
  },
  created() {
    this.currentAnim = null
  },
  methods: {
    open() {
      this.isOpen = true;
    },
    close() {
      this.isOpen = false;
    },
    toggle() {
      this.isOpen = !this.isOpen;
    },

    // --------
    // ПОЯВЛЕНИЕ
    // --------
    beforeEnter: function (el) {
      el.style.overflow = 'hidden';
    },
    enter: function (el, done) {
      const { height } = el.getBoundingClientRect();

      if (this.currentAnim) this.currentAnim.pause();
      this.currentAnim = anime({
        targets: el,
        height: [0, height],
        easing: 'easeInOutSine',
        duration: 500,
        complete: done
      });
    },
    afterEnter: function (el) {
      el.style.overflow = '';
      el.style.height = '';
    },

    // --------
    // ИСЧЕЗНОВЕНИЕ
    // --------
    beforeLeave: function (el) {
      el.style.overflow = 'hidden';
    },
    leave: function (el, done) {
      if (this.currentAnim) this.currentAnim.pause();
      this.currentAnim = anime({
        targets: el,
        height: 0,
        easing: 'easeInOutSine',
        duration: 500,
        complete: done
      });
    },
    afterLeave(el) {
      el.style.overflow = '';
      el.style.height = '';
    }
  }
}
</script>

<style lang="scss">
.accordion-card {
  padding: 30px;
  background: $white;
  border: 1px solid $light;

  @include media-breakpoint-up(md) {
    padding: 50px;
  }

  & + & {
    margin-top: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &__header-slot {
    flex-grow: 1;
    margin-right: 10px;
    @include media-breakpoint-up(md) {
      margin-right: 60px;
    }
    @include media-breakpoint-up(xxl) {
      margin-right: 160px;
    }
  }

  &__button {
    transition: transform 0.75s ease;
  }

  &_open &__button {
    transform: rotate(180deg);
  }

  &__content {
    padding-top: 30px;
  }

}
</style>
