<template>
  <ul v-if="!!items.length" class="breadcrumbs list-dash">
    <li class="breadcrumbs__item">
      <n-link to="/" class="breadcrumbs__link">Главная</n-link>
    </li>
    <li class="breadcrumbs__item" v-for="(item, index) in items" :key="index">
      <n-link :to="item.to" class="breadcrumbs__link">{{ item.title }}</n-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: "Breadcrumbs",
  beforeCreate() {
    this.$store.dispatch('breadcrumbs/clear');
  },
  watch: {
    $route() {
      this.$store.dispatch('breadcrumbs/clear');
    }
  },
  computed: {
    items() {
      return this.$store.getters['breadcrumbs/items'];
    }
  },
}
</script>

<style lang="scss">
.breadcrumbs {
  padding-left: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: $brand;

  &__item {
    display: inline;

    &:before {
      width: auto;
      margin: 0 7px 0 5px;
      color: $gray;
    }

    &:first-child:before {
      display: none;
    }

    &:last-child:before {
      color: $brand;
    }
  }

  &__item:last-child &__link {
    color: $brand;
  }

  &__link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: $gray;
  }
}
</style>
