<template lang="pug">
button.btn(:class='classes')
  .btn__slot
    slot ОК
  .btn__icon(v-if='!!icon')
    svg-icon(:name='icon')
</template>

<script>
export default {
  name: "btn",
  props: ['icon'],
  computed: {
    classes() {
      return {
        'btn_has-icon' : this.hasIcon
      }
    },
    hasIcon() {
      return !!this.icon;
    }
  }
}
</script>

<style lang="scss">
.btn {
  display: inline-flex;

  min-width: 12.5rem;
  min-height: 5rem;
  padding: 0.9375rem 2rem;

  align-items: center;
  justify-content: center;

  background: $brand;
  color: $white;
  border: none;

  cursor: pointer;

  text-align: center;
  line-height: 1.4;

  transition: background 0.75s ease;

  &:hover,
  &:focus
  {
    background: darken($brand,5%);
    text-decoration: none;
    outline: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.125rem;
    height: 3.125rem;

    margin-left: 2rem;

    border-radius: 50%;
    background: $white;

    transition: transform 0.75s ease;


    .icon {
      width:  0.625rem;
      height: 0.625rem;
      fill: $brand;
      transition: transform 0.75s ease;
    }
  }

  &:hover &__icon {
    transform: scale(1.2);
    .icon {
      transform: scale(0.8);
    }
  }

  &.btn_has-icon {
    justify-content: space-between;
    padding-right: 0.9375rem;
    text-align: left;
  }

  &.btn_block {
    display: flex;
    width: 100%;
  }
}
</style>
