<template lang="pug">
component.btn-circle(:class='classes' :is="componentIs" :href="href" :to="to")
  span.btn-circle__icon(v-if='!!icon')
    svg-icon(:name='icon' :style="{ fontSize: iconSize + 'em' }")
  span.btn-circle__slot(v-if='hasDefaultSlot')
    slot
</template>

<script>
export default {
  name: "BtnCircle",
  props: {
    href: {
      type: [String, Boolean],
      default: false
    },
    to: {
      type: [String, Boolean],
      default: false
    },
    icon: {
      type: String,
      default: 'arrow-next'
    },
    color: {
      type: String,
      default: ''
    },
    vertical: {
      type: Boolean,
      default: false
    },
    pulse: {
      type: Boolean,
      default: false
    },
    active: {
      type: Boolean,
      default: false
    },
    reverse: {
      type: Boolean,
      default: false
    },
    iconLarge: {
      type: Boolean,
      default: false
    },
    iconSize: {
      type: Number,
      default: 1
    }
  },
  computed: {
    componentIs() {
      if (!!this.href) return 'a'
      if (!!this.to) return 'nuxt-link'
      return 'button'
    },
    classes() {
      return {
        'btn-circle--white' : this.color === 'white',
        'btn-circle--light' : this.color === 'light',
        'btn-circle--light-gray' : this.color === 'light-gray',
        'btn-circle--gray' : this.color === 'gray',
        'btn-circle--vertical' : this.vertical,
        'btn-circle--pulse' : this.pulse,
        'btn-circle--active' : this.active,
        'btn-circle--reverse' : this.reverse,
        'btn-circle--icon-large' : this.iconLarge,
      }
    },
    hasDefaultSlot() {
      return !!this.$slots.default;
    }
  },
}
</script>

<style lang="scss">
.btn-circle
{
  $self: &;

  display: inline-flex;

  align-items: center;
  justify-content: flex-start;

  text-align: left;

  color: inherit;
  background: none;
  cursor: pointer;
  border: none;

  line-height: 1.2;
  padding: 0;

  &:focus,
  &:hover
  {
    text-decoration: none;
    outline: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 3.5rem;
    height: 3.5rem;
    flex: 0 0 3.5rem;

    font-size: 0.75rem;

    &:before
    {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &, &:before {
      border-radius: 50%;
      background: $brand;
    }

    .icon {
      position: relative;
      width:  1em;
      height: 1em;

      fill: $white;
    }

    &, &:before, .icon {
      transform-origin: center center;
      transition: transform 0.75s, background 0.5s, fill 0.5s;
      transition-timing-function: ease;
    }
  }

  &__slot {
    padding-left: 0.9375rem;
  }

  &:hover &__icon,
  &--active &__icon
  {
    z-index: 1;

    &:before, & {
      background: darken($brand, 5%);
    }

    &:before {
      transform: scale(1.2);
    }

    .icon {
      fill: $white;
    }
  }

  &.btn_block,
  &.btn--block
  {
    display: flex;
  }

  &--icon-large &__icon {
    font-size: 1.4rem;
  }

  &--white &__icon {
    border: 1px solid $light-gray;

    &, &:before {
      background: $white;
    }

    .icon {
      fill: $brand;
    }
  }

  &--light &__icon {
    &, &:before {
      background: $light;
    }

    .icon {
      fill: $brand;
    }
  }

  &--light-gray &__icon {
    &, &:before {
      background: $light-gray;
    }

    .icon {
      fill: $brand;
    }
  }

  &--gray &__icon {
    &, &:before {
      background: $gray;
    }

    .icon {
      fill: $brand;
    }
  }

  &--vertical {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &--vertical &__slot {
    padding: 1rem 0 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  &--pulse {
    $this: &;

    #{$self}__icon {
      &:before, &:after
      {
        content: '';
        display: block;

        position: absolute;
        top:  -5%;
        left: -5%;

        width:  110%;
        height: 110%;

        border: 1px solid $brand;
        border-radius: 50%;
        background: none;

        transition: opacity 0.75s ease;
      }
    }

    &:hover #{$self}__icon {
      &:before, &:after {
        transform: scale(1.15);
        opacity: 0;
        background: none;

        transition: transform, opacity;
        transition-duration: 0.75s;
        transition-delay: 0.2s;
      }

      &:after { transition-delay: 0.5s;}
    }
  }

  &--reverse {
    flex-direction: row-reverse;
    .btn-circle__slot {
      padding: 0 20px 0 0;
      @include media-breakpoint-down(xs) {
        padding: 0 10px 0 0;
      }
    }
  }
}
</style>
