<template lang="pug">
button.burger(:class="{ 'burger_close' : close }", title='переключить меню')
  span Переключить
  span меню
</template>

<script>
export default {
  name: "Burger",
  props: {
    close: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.burger {
  display: inline-block;

  position: relative;
  vertical-align: middle;

  font-size: 0.14em;
  width: 14em;
  height: 14em;

  padding: 0;
  margin: 0;

  color: $white;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  span {
    display: block;

    position: absolute;
    top: 6em;

    height: 1em;
    width: 100%;
    line-height: 1em;

    background: $white;

    transition: transform 0.5s ease;

    &:first-child {
      transform: translateY(-200%);
    }

    &:last-child {
      transform: translateY(200%);
    }
  }

  &_close {
    transition: transform 0.75s ease;
    span:first-child {
      transform: rotate(135deg);
    }
    span:last-child {
      transform: rotate(45deg);
    }
  }

  @media (hover) {
    &:hover span
    {
      transform: rotate(0);
    }
  }
}
</style>
