<template lang="pug">
  .button__info
    slot
</template>

<script>

export default {
  name: 'ButtonInfo'
}
</script>

<style lang="scss" scoped>
.button {
  &__info {
    font-family: Helvetica;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    color: #949FA8;
    background-color: #EBEEF1;
    border-radius: 30px;
    padding: 20px 45px;
    @include media-breakpoint-down(md) {
      padding: 17px 30px;
      font-size: 14px;
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}
</style>
