<template lang="pug">
  .document__item
    .document__img
      img(:src="img", :alt='alt' class="img-responsive")
    .document__title
      slot
    .document__btn
      a.document__download(:href="url ? url : img" download)
        span.document__circle
          svg-icon(name='download')
        | Cкачать

</template>

<script>
  export default {
    name: 'DocumentCard',
    props: ['img', 'alt', 'url']
  }
</script>

<style lang="scss">
.document {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 55px;
  @include media-breakpoint-down(sm) {
    grid-gap: 30px;
  }
  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 22px;
  }

  $self: &;
  &__item  {
    background: #F8F9FA;
    border: 1px solid #D5DEE6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(lg) {
      width: 200px;
      height: 200px;
    }
    &::before {
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #EBEEF1;
      display: block;
      position: absolute;
    }
    img {
      position: relative;
      @include media-breakpoint-down(lg) {
        max-width: 130px;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: $dark;
    margin-top: 30px;
    text-align: center;
    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }

  }
  &__btn {
    margin-top: 50px;
    @include media-breakpoint-down(xs) {
      margin-top: 36px;
    }
  }

  &__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-gray;
    margin-bottom: 5px;
    @extend %transition;
    .icon {
      fill: $brand;
    }
  }
  &__download {
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    @extend %transition;

    &:hover {
      #{$self} {
        &__circle {
          background-color: $brand;
          .icon {
            fill: $white;
          }
        }
      }
    }
    &:hover,
    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
    }
  }
}
</style>
