<template lang="pug">
.footer
  .footer__row
    p.footer__col
      | © 2019 Волгоградский судоремонтный завод.
      |
      span.d-inline-block  Все права защищены
    p.footer__col Политика конфиденциальности
    p.footer__col
      | Сделано в
      |
      a(href="https://todoagency.ru/" target="_blank").color-brand.large-text TODO.
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style lang="scss">
.footer {
  font-size: 12px;
  line-height: 1.2;
  /*max-width: 408px;*/

  &__row {
    margin-left:  -10px;
    margin-right: -10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;

    color: $gray;
  }

   &__col {
     padding-left:  10px;
     padding-right: 10px;
     width: auto;
   }

  p {
    margin: 0.2rem 0;
  }

  @include media-breakpoint-down(xl) {
    font-size: 10px;
  }

  @include media-breakpoint-down(sm)
  {
    margin: 0 auto;
    text-align: center;

    &__row
    {
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }
  }
}
</style>
