<template lang="pug">
.history-card
  .history-card__img(ref="img")
    img(:src="img", :alt="alt").img-responsive
  .history-card__txt
    .history-card__date(ref="date") {{ date }}
    .history-card__desc(ref="desc")
      slot
</template>

<script>
import InertElement from '../animations/InertElement';

export default {
  name: 'HistoryCard',
  props: ['img', 'date', 'alt'],
  created() {
    this.inertElements = [];
  },
  mounted() {
    if (window.innerWidth > 1280) this.initInertElements();
  },
  beforeDestroy() {
    this.destroyInertElements();
  },
  methods: {
    initInertElements() {
      this.inertElements = [
        new InertElement(this.$refs.img,  { factor: 0.2, weight: 20 }),
        new InertElement(this.$refs.date, { factor: 0.5, weight: 10 }),
        new InertElement(this.$refs.desc, { factor: 0.4, weight: 15 }),
      ];
    },
    destroyInertElements() {
      this.inertElements.forEach(inertElement => inertElement.destroy());
    }
  }
}
</script>

<style lang="scss">
.history-card {
  $self: &;

  display: flex;
  position: relative;
  flex-direction: row;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  & + & {
    margin-top: 200px;

    @include media-breakpoint-down(xl) {
      margin-top: 105px;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin-top: 50px;
    }
  }

  &__img {
    width: 65%;
    img {
      border: 10px solid $white;
    }
    @include media-breakpoint-down(xl) {
      width: 50%;
    }

    @include media-breakpoint-down(lg) {
      width: 65%;
    }

    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

  }

  &__txt {
    z-index: 1;

    display: flex;
    flex-direction: column;

    margin: 20px 0 10px;
    width: 35%;

    @include media-breakpoint-down(xl) {
      width: 50%;
    }
    @include media-breakpoint-down(lg) {
      width: 35%;
    }
    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }

  &__date {
    font-weight: 900;
    font-size: 68px;
    line-height: 1;
    color: $brand;
    margin: 0 0 0 -120px;
    @include media-breakpoint-down(xl) {
      font-size: 55px;
      margin: 0 10px 0 -80px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 45px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
      position: absolute;
      left: 10px;
      top: -15px;
      font-size: 40px;
    }
    @include media-breakpoint-down(xs) {
      top: -5px;
      font-size: 35px;
    }
  }

  &__desc {
    margin: auto 0 0 40px;
    font-size: 16px;
    line-height: 28px;
    color: $dark;
    max-width: 300px;
    @include media-breakpoint-down(xl) {
      font-size: 14px;
      line-height: 22px;
    }
    @include media-breakpoint-down(sm) {
      margin: auto 0 0 20px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    #{$self} {
      &__date {
        margin: 0 -120px 0 0;
        @include media-breakpoint-down(xl) {
          margin: 0 -50px 0 0;
        }
        @include media-breakpoint-down(sm) {
          margin: 0;
        }
      }
      &__desc {
        margin: auto 40px 0 0;
        @include media-breakpoint-down(sm) {
          margin: auto 20px 0 0;
        }
      }
    }
  }
}
</style>
