<template lang="pug">
nuxt-link.logo(to="/")
  svg-icon(name="logo" class="logo__img")
  span.logo__label Волгоградский судоремонтный завод
</template>

<script>
export default {
  name: "Logo"
}
</script>

<style lang="scss">
.logo {
  display: inline-flex;
  align-items: center;
  width: 11.25rem;
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &__img {
    width: 3.5rem;
    height: 3.5rem;
    flex: 0 0 3.5rem;
    margin-right: 0.5rem;
    fill: $brand;
  }

  &__label {
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 100%;
  }
}

</style>
