<template lang="pug">
ul.menu-list
  li(v-for='(item, index) of items', :key='index' v-bind='item.itemOptions')
    nuxt-link(
      v-bind="item.options"
      :to='item.to'
      @click.native='$emit("click-link")'
    )
      | {{ item.title }}
</template>

<script>
export default {
  name: "MenuList",
  data: () => ({
    items: [
      { title: 'Главная',    to: '/', options: { exact: true }, itemOptions: { class: 'd-xl-none' } },
      { title: 'Услуги',     to: '/services' },
      { title: 'Проекты',    to: '/projects' },
      { title: 'О компании', to: '/about' },
      { title: 'Контакты',   to: '/contacts' },
      //{ title: 'UI KIT',     to: '/uikit' },
    ]
  })
}
</script>

<style lang="scss">
.menu-list {
  padding: 0;
  text-align: right;

  li {
    position: relative;
    padding: 0;

    &:before { display: none }
  }

  a {
    display: block;

    padding: 10px 0;

    color: $gray;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    white-space: nowrap;

    transition: transform 0.4s;
    transform-origin: right;

    &:before {
      content: '';
      display: block;

      position: absolute;
      bottom: 0;
      left: 30%;

      width: 40%;
      height: 2px;

      background: $white;

      transform: scaleX(0);
      transition: transform 0.4s;
    }

    &:hover,
    &.nuxt-link-active
    {
      text-decoration: none;
      color: $white;

      &:before {
        transform: scaleX(1);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    a {
      &:before {
        left: auto;
        right: -20%;
        top: 50%;
        width: 15%;
        transform-origin: left;
      }

      &.nuxt-link-exact-active,
      &:hover
      {
        transform: translateX(-20%);

        &:before {
          transform: scale(1);
        }
      }
    }
  }


  @include media-breakpoint-up(md)
  {
    display: flex;

    a {
      padding: 15px;
      transform-origin: center;
    }
  }

  @include media-breakpoint-between(md, lg)
  {
    justify-content: space-between;
    max-width: 768px;
    margin: 15px auto;
  }


  @include media-breakpoint-up(lg)
  {
    a:before {
      left: 10px;
      bottom: -13px;

      width: calc(100% - 20px);
      height: 3px;
    }
  }

  @include media-breakpoint-up(xl) {
    a {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-up(xxl)
  {
    a:before {
      bottom: -19px;
    }
  }
}
</style>
