<template lang="pug">
.nav-bar.container-fluid.container-xl
  .row.align-items-center.justify-content-between
    .nav-bar__logo.col-6
      Logo
    .nav-bar__menu.col.pl-0
      MenuList
    .nav-bar__contacts.col-4.col-xl-3.col-xxl-2
      a.reset(href="tel:+78442550156")
        btn-circle(icon="phone" pulse)
          span.large-text +7 (8442) 55-01-56
          br
          span great.river.vlg@yandex.ru
</template>

<script>
import MenuList  from "~/components/MenuList";
import Logo      from "~/components/Logo";
import BtnCircle from "~/components/BtnCircle";

export default {
  name: "NavBar",
  components: { BtnCircle, Logo, MenuList }
}
</script>

<style lang="scss">
.nav-bar {

  &__menu {
    text-align: right;
    margin-left: -20px;
  }

  &__contacts {
    text-align: right;
  }

  @include media-breakpoint-down(lg) {
    &__menu {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__contacts {
      display: none;
    }
  }
}
</style>
