<template>
  <div class="page-pagination" :class="classes">
    <div v-if="!!prev" class="page-pagination__btn page-pagination__prev">
      <component
        :is="component"
        class="btn_block"
        :color="circle && 'white'"
        icon="arrow-prev"
        @click.native="$router.push(prev.to)"
      >
        <span class="page-pagination__label translucent small-text">Предыдущий раздел</span><br>
        <span class="page-pagination__title font-bold color-brand" v-html="prev.title"></span>
      </component>
    </div>
    <div v-if="next" class="page-pagination__btn page-pagination__next">
      <component
        :is="component"
        class="btn_block"
        :color="circle && 'white'"
        icon="arrow-next"
        @click.native="$router.push(next.to)"
      >
        <span class="page-pagination__label translucent small-text">Следующий раздел</span><br>
        <span class="page-pagination__title font-bold color-brand" v-html="next.title"></span>
      </component>
    </div>
  </div>
</template>

<script>
import Btn from "./Btn";
import BtnCircle from "./BtnCircle";

export default {
  name: "PagePagination",
  components: { Btn, BtnCircle },
  props: {
    circle: {
      type: Boolean,
      default: false
    },
    prev: {
      type: [Object, Boolean],
      default: false
    },
    next: {
      type: [Object, Boolean],
      default: false
    }
  },
  computed: {
    component() {
      return this.circle ? 'btn-circle' : 'btn';
    },
    classes() {
      return {
        'page-pagination_circle' : this.circle
      }
    }
  }
}
</script>

<style lang="scss">
.page-pagination {
  $self: &;

  display: flex;
  flex-wrap: wrap;
  margin: -2.5px;

  &__btn {
    min-width: 280px;
    max-width: 100%;
    padding: 2.5px;
    flex-basis: 0;
    flex-grow: 1;

    #{$self}_circle & {
      margin-top:    5px;
      margin-bottom: 5px;
    }
  }

}
</style>
