<template lang="pug">
  .panorama
    .panorama__wrp(ref="wrp")
      img.panorama__img(:src="src" alt="" :style="imgStyle" ref="img")
      .panorama__owerflov
    .panorama__controls
      svg.panorama__progress(width="72" height="50" viewBox="0 0 72 50" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M70.8012 25C66.218 21.717 60.7769 19.1127 54.7886 17.3359C48.8004 15.5592 42.3822 14.6447 35.9006 14.6447C29.4189 14.6447 23.0008 15.5592 17.0125 17.3359C11.0243 19.1127 5.58321 21.717 1 25" stroke="white" stroke-width="2")
        path(
          d="M54.7888 17.3359C48.8006 15.5591 42.3824 14.6446 35.9008 14.6446C29.4191 14.6446 23.0009 15.5591 17.0127 17.3359"
          stroke="#0065BB" stroke-width="2"
          transform-origin="36 78"
          :style="{transform: `rotate(${-16 + 32 * progress}deg)`}"
        )
      .panorama__buttons
        .panorama__prev.panorama__btn(
          :class="{'panorama__btn--disabled' : progress <= 0}"
          @click="shiftProgress(-0.2)"
        )
          BtnCircle(icon="arrow-prev" color="light-gray" )
        .panorama__next.panorama__btn(
          :class="{'panorama__btn--disabled' : progress >= 1}"
          @click="shiftProgress(0.2)"
        )
          BtnCircle(icon="arrow-next" color="light-gray")
</template>

<script>
import anime from 'animejs';
import BtnCircle from "./BtnCircle";

export default {
  name: "Panorama",
  components: { BtnCircle },
  props: ['src'],
  data() {
    return {
      progress: 0.5,
      imgWidth: 2,
      wrpWidth: 1,
    }
  },
  computed: {
    imgStyle() {
      let x = -1 * this.offset * this.progress;

      return {
        transform: `translateX(${x}px)`
      }
    },
    offset() {
      return this.imgWidth - this.wrpWidth;
    }
  },
  mounted() {
    this.$refs.img.onload = this.defineWidths;
    window.addEventListener('resize', this.defineWidths);

    const elWrp = this.$refs.wrp;
    elWrp.onmousedown = elWrp.ontouchstart = this.down;
    elWrp.onmouseup   = elWrp.ontouchend = elWrp.onmouseover = this.up;
  },

  destroyed() {
    window.removeEventListener('resize', this.defineWidths);
  },
  methods: {
    defineWidths() {
      requestAnimationFrame(() => {
        if (typeof this.$refs.wrp !== 'undefined' && typeof this.$refs.img !== 'undefined') {
          this.wrpWidth = this.$refs.wrp.offsetWidth;
          this.imgWidth = this.$refs.img.offsetWidth;
        }
      })
    },
    shiftProgress(v) {
      let progress = this.progress + v;
      if (progress < 0) progress = 0;
      if (progress > 1) progress = 1;

      if (this.animeProgress) this.animeProgress.pause();
      this.animeProgress = anime({
        targets: this,
        progress,
        easing: 'easeInOutSine',
        duration: 200
      })
    },
    down(e) {
      let event = e;
      if (typeof TouchEvent !== 'undefined' && e instanceof TouchEvent) event = e.touches[0];
      if (this.animeProgress) this.animeProgress.pause();

      const elWrp = this.$refs.wrp;

      elWrp.onmousemove = elWrp.ontouchmove = this.move;
      elWrp.style.cursor = 'grabbing';

      this.lastEvent = event;
    },
    up() {
      const elWrp = this.$refs.wrp;

      elWrp.onmousemove = elWrp.ontouchmove = null;
      elWrp.style.cursor = '';
    },
    move(e) {
      let event = e;
      if (typeof TouchEvent !== 'undefined' && e instanceof TouchEvent) event = e.touches[0];

      let pixel = this.lastEvent.clientX - event.clientX;
      let percent = pixel / this.offset;

      this.progress += percent;
      if (this.progress < 0) this.progress = 0;
      if (this.progress > 1) this.progress = 1;

      this.lastEvent = event;
    }
  }
}
</script>

<style lang="scss">
.panorama {
  position: relative;
  user-select: none;

  &__wrp {
    height: 376px;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      height: 180px;
    }
    @include media-breakpoint-up(xxl) {
      height: 550px;
    }

    &:after {
      content: '';
      display: block;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }

  &__img {
    height: 100%;
    max-width: none;
    transform: translateX(-20%);
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding: 0 15px;

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 100%;

      justify-content: space-between;

      pointer-events: none;
    }
  }

  &__btn {
    margin: 5px;
    pointer-events: all;

    transition: opacity 0.5s ease;
    &--disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__progress {
    position: absolute;
    top:  0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }
}
</style>
