<template lang="pug">
  .project__item(@click="$router.push(url)")
    .project__images(:style="{ 'background-image': 'url(' + img + ')' }")
    .project__wrap
      .project__title(v-html="title")
      .project__type(v-html="type")
</template>

<script>
export default {
  name: 'ProjectMiniCard',
  props: ['url' , 'title', 'type' , 'img']
}
</script>

<style lang="scss" scoped>
.project {
  &__item {
    background-color: #fff;
    cursor: pointer;
  }
  &__wrap {
    padding: 30px 40px;
  }
  &__images {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 200px;
    @include media-breakpoint-down(lg) {
      min-height: 135px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    color: $dark;
    margin-bottom: 5px;
    @extend %transition;
    outline: none;
    &:hover {
      text-decoration: none;
      color: $brand;
      outline: none;
    }

    &:focus,
    &:active {
      color: $dark;
      text-decoration: none;
      outline: none;
    }

    @include media-breakpoint-down(xl) {
      font-size: 18px;
    }
  }

  &__type {
    font-size: 16px;
    line-height: 19px;
    color: $gray;
    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }
  }
}
</style>
