<template lang="pug">
  .project(@click="$router.push(url)")
    .project__img(:style="{ 'background-image': 'url(' + img + ')' }")
    .project__info
      .project__title {{title}}
      .project__type(v-html="type")
      .project__list
        .project__subtitle Выполненные работы:
        slot

</template>

<script>
  export default {
    name: 'ProjectCard',
    props: ['img', 'url' , 'title', 'type' ]
  }
</script>

<style lang="scss" scoped>
.project {
  background-color: #fff;
  display: flex;
  margin-bottom: 40px;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &__img {
    width: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 250px;
    @include media-breakpoint-down(sm) {
      width: 50%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__info {
    padding: 30px 30px 30px 36px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 45%;
    @include media-breakpoint-down(sm) {
      width: 50%;
      padding: 20px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__list {
    margin-top: auto;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        font-size: 16px;
        line-height: 19px;
        color: $brand;
        margin: 0 0 10px;
        padding-left: 30px;
        position: relative;
        @include media-breakpoint-down(xl) {
          font-size: 14px;
        }
        @include media-breakpoint-down(sm) {
          padding-left: 20px;
        }

        &:last-child {
          margin: 0;
        }

        &::before {
          content: '';
          width: 10px;
          height: 1px;
          margin: 0;
          top: 9px;
          left: 0;
          position: absolute;
          background-color: $brand;
        }
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    color: $dark;
    margin-bottom: 5px;
    @extend %transition;
    outline: none;

    &:hover {
      text-decoration: none;
      color: $brand;
      outline: none;
    }

    @include media-breakpoint-down(xl) {
      font-size: 18px;
    }
  }

  &__type {
    font-size: 16px;
    line-height: 19px;
    color: $gray;
    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }
  }
  &__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #B6C1CC;
    margin-bottom: 10px;
    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }
  }
}
</style>
