<template lang="pug">
  div.scroll-btn(
    :class="classes"
  )
      btn-circle.scroll-btn__down(
        icon="scroll"
        color="white"
        icon-large
        @click.native="scrollDown"
      )
      btn-circle.scroll-btn__up(
        icon="arrow-close"
        color="white"
        @click.native="scrollUp"
      )
</template>

<script>
import anime from 'animejs';
import BtnCircle from "~/components/BtnCircle";
import Btn       from "~/components/Btn";

export default {
  name: "ScrollBtn",
  components: { Btn, BtnCircle },
  data() {
    return {
      scrollY: 0,
      windowWidth: 0,
      scrollYBottom: 999
    }
  },
  computed: {
    showScroll() {
      return this.scrollY < 10 || this.scrollYBottom < 10 || this.windowWidth >= 768
    },
    classes() {
      return {
        'scroll-btn_to-down': this.showScroll && this.scrollYBottom > 100,
        'scroll-btn_to-up':   this.showScroll && this.scrollYBottom < 100,
      }
    }
  },
  mounted() {
    window.addEventListener("scroll", this.scrollHandler);
    window.addEventListener("resize", this.resizeHandler);
    this.scrollHandler();
    this.resizeHandler();
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.scrollHandler);
    window.removeEventListener("resize", this.resizeHandler);
  },
  methods: {
    scrollHandler() {
      this.scrollY = window.scrollY;
      this.scrollYBottom = document.documentElement.offsetHeight - window.innerHeight - window.scrollY;
    },
    resizeHandler() {
      this.windowWidth = window.innerWidth;
    },
    scrollDown() {
      if (!!this.currentAnim && !this.currentAnim.paused) return false;
      const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;

      this.currentAnim = anime({
        targets: scrollElement,
        scrollTop: scrollElement.scrollTop + window.innerHeight,
        duration: 750,
        easing: 'easeInOutQuart'
      });
    },
    scrollUp() {
      if (!!this.currentAnim && !this.currentAnim.paused) return false;
      const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;

      this.currentAnim = anime({
        targets: scrollElement,
        scrollTop: 0,
        duration: scrollElement.scrollTop * 0.5,
        easing: 'cubicBezier(.5,0,0,1)'
      });
    }
  }
}
</script>

<style lang="scss">
.scroll-btn {
  position: relative;

  &__down, &__up {
    transition: visibility, transform, opacity;
    transition-duration: 0.75s;
  }

  &__down {
    position: absolute;
    opacity: 0;
    transform: translateY(-50%);
    visibility: hidden;
  }

  &_to-down &__down {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }

  &__up {
    opacity: 0;
    transform: translateY(50%);
    visibility: hidden;
  }

  &_to-up &__up {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
}
</style>
