<template>
<div class="headers">
  <div
    class="headers__wrp"
    :style="{ transform: `translateY(${offsetY}%)` }"
  >
    <div
      v-for="(header, index) of headers"
      class="headers__item"
      :key="index"
      ref="item"
      @click="scrollTo(index)"
    >
      <div class="headers__h h3" v-html="header"></div>
    </div>
  </div>
</div>
</template>

<script>
import anime from 'animejs';

export default {
  name: "ScrollHeaders",
  props: ['element'],
  data() {
    return {
      elements: [],
      headers: [],
      active: -1
    }
  },
  computed: {
    offsetY() {
      return (this.active + 1) * 100 * -1
    }
  },
  mounted() {
    this.elements = [...this.element.querySelectorAll('h1, h2, h3')];
    this.headers = this.elements.map(el => el.innerHTML);

    window.addEventListener('scroll', this.scrollHandler);

    this.scrollHandler();
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.scrollHandler);
  },
  methods: {
    scrollHandler() {
      this.active = this.defineActive();
    },
    defineActive() {
      let active = -1;

      for (let index in this.elements) {
        let el = this.elements[index];
        if(el.getBoundingClientRect().top - window.innerHeight + 60 < 0) {
          active = parseInt(index);
        }
      }
      return active;
    },
    scrollTo(index) {
      let offsetTop = this.elements[index].getBoundingClientRect().top;

      if (this.currentAnim) this.currentAnim.pause();
      const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;
      this.currentAnim = anime({
        targets: scrollElement,
        scrollTop: scrollY + offsetTop - 100,
        duration: 750,
        easing: 'cubicBezier(.5,0,0,1)'
      });

    }
  }
}
</script>

<style lang="scss">
.headers {
  display: flex;
  flex-direction: column;
  position: relative;

  height: 100%;
  width: 100%;

  overflow: hidden;

  &__wrp {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 100%;
    width: 100%;

    transition: transform 0.5s;
  }

  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 100%;

    background: $light-gray;

    cursor: pointer;
  }

  &__h {
    margin: 0;
  }

  &__list-headers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: red;
  }
}
</style>
