<template>
<ul
  class="side-list"
  :class="classes"
  :style="style"
  @mousedown="elDown"
  @mouseup="elUp"
  @mouseout="elUp"
  @touchstart="elDown"
  @touchend="elUp"
>
  <li
    v-for="(item, index) of items" class="side-list__item"
    :key="index"
    ref="items"
  >
    <n-link
      class="side-list__link"
      ref="links"
      :to="item.to"
      active-class="side-list__link_active"
      exact
      event=""
      @mousedown.native.prevent="linkDown(item.to)"
      @mouseup.native.prevent="linkUp(item.to)"
      @touchstart.native.prevent="linkDown(item.to)"
      @touchend.native.prevent="linkUp(item.to)"
    >
      {{ item.menuTitle || item.title }}
    </n-link>
  </li>
</ul>
</template>

<script>
import anime from 'animejs';

let timer;

export default {
  name: "SideList",
  props: {
    items: {
      type: Array,
      default: []
    },
  },
  data: () => ({
    totalWidth: 0,
    mouseIsDown: false,
    offset: 0,
  }),
  computed: {
    style () {
      return {
        marginLeft: (this.offset * -1) + 'px'
      }
    },
    classes() {
      return {
        'side-list_mouse-down' : this.mouseIsDown
      }
    },
  },
  watch: {
    offset() {
      this.comeback();
    },
    $route() {
      this.offsetFromActiveItem();
    }
  },
  mounted() {
    this.resize();
    window.addEventListener('resize', this.resize);
    this.offsetFromActiveItem();
  },
  methods: {
    resize() {
      if (!this.dragIsEnable()) this.offset = 0;
      this.updateTotalWidth();
      this.offsetFromActiveItem();
    },
    dragIsEnable() {
      return window.innerWidth < 1279 && this.totalWidth > this.$el.offsetWidth;
    },
    elDown(e) {
      if (!this.dragIsEnable()) return false;
      e.preventDefault();
      this.mouseIsDown = true;
      if (this.currentAnim) this.currentAnim.pause();
      this.$el.onmousemove = this.elMove;
      this.$el.ontouchmove = this.elMove;
    },
    elUp(e) {
      if (!this.dragIsEnable()) return false;
      e.preventDefault();
      this.mouseIsDown = false;
      this.lastClientX = 0;
      this.$el.onmousemove = null;
      this.$el.ontouchmove = null;

      const inertia = () => {
        if (Math.abs(this.v) > 1 && !this.mouseIsDown) {
          this.offset += this.v;
          this.v += this.v / 10 * -1;
          requestAnimationFrame(inertia);
        }
      };
      requestAnimationFrame(inertia);
    },
    elMove(e) {
      if (!this.dragIsEnable()) return false;
      let v = 0;
      let clientX = 0;

      if (typeof TouchEvent !== 'undefined' && e instanceof TouchEvent) {
        clientX = e.touches[0].clientX;
      } else if (e instanceof MouseEvent) {
        clientX = e.clientX;
      } else {
        return false;
      }

      if (this.lastClientX) {
        v =  this.lastClientX - clientX;
      }
      this.offset += v;
      this.lastClientX = clientX;

      this.v = v;
    },
    linkDown() {
      this.linkDownOffset = this.offset;
    },
    linkUp(route) {
      if (Math.abs(this.linkDownOffset - this.offset) < 10) {
        this.$router.push(route);
      }
    },
    comeback() {
      if (!this.dragIsEnable()) return false;
      clearTimeout(timer);
      timer = setTimeout(() => {
        if (this.offset < 0) {
          if (this.currentAnim) this.currentAnim.pause();
          this.currentAnim = anime({
            targets: this,
            offset: 0,
            easing: 'spring(1, 100, 10, 0)'
          })
        } else if (this.offset > this.totalWidth - this.$el.offsetWidth) {
          if (this.currentAnim) this.currentAnim.pause();
          this.currentAnim = anime({
            targets: this,
            offset: this.totalWidth - this.$el.offsetWidth,
            easing: 'spring(1, 100, 10, 0)'
          })
        }
      }, 60);
    },
    offsetFromActiveItem() {
      if (!this.dragIsEnable()) return false;
      clearTimeout(timer);
      timer = setTimeout(() => {
        let hesActive = false;
        let offsetFromActive = 0;
        for (let item of this.$refs.links) {
          if(item.$el.classList.contains('side-list__link_active')) {
            hesActive = true;
            break;
          }
          offsetFromActive += item.$el.offsetWidth;
        }

        if (offsetFromActive > this.totalWidth - this.$el.offsetWidth) offsetFromActive = this.totalWidth - this.$el.offsetWidth

        if (hesActive) {
          if (this.currentAnim) this.currentAnim.pause();
          this.currentAnim = anime({
            targets: this,
            offset: offsetFromActive,
            easing: 'spring(1, 100, 20, 0)'
          });
        }
      }, 50);
    },
    updateTotalWidth() {
      let totalWidth = 0;
      this.$refs.items.forEach(el => {
        totalWidth += el.offsetWidth;
      });
      this.totalWidth = totalWidth;
    }
  }
}
</script>

<style lang="scss">
.side-list {
  position: relative;
  padding-left: 0;
  user-select: none;
  overflow: visible;
  margin: 0;

  &__item {
    &:before { display: none; }
  }

  &__link {
    display: block;
    padding: 0.3rem 0;
    color: $gray;

    &_active,
    &:hover
    {
      color: $brand;
      text-decoration: none;

      &:before {
        width: 1rem;
        margin-right: 0.5em;
        transform: scaleX(1);
      }
    }
  }

  @include media-breakpoint-down(lg) {
    display: flex;
    white-space: nowrap;
    width: 100%;

    &__item {
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }
    }

    &_mouse-down,
    &_mouse-down &__link
    {
      cursor: grab;
    }
  }

  @include media-breakpoint-up(xl) {
    &__link {
      &:before {
        content: '';
        display: inline-block;

        position: relative;
        top: 0.5em;
        left: 0;
        vertical-align: top;

        width: 0;
        margin: 0;
        height: 2px;

        background: $brand;

        transform-origin: left center;
        transform: scaleX(0);

        transition: all 0.5s ease;
      }

      &_active,
      &:hover
      {
        &:before {
          width: 1rem;
          margin-right: 0.5em;
          transform: scaleX(1);
        }
      }
    }
  }
}
</style>
