<template>
  <div class="side-bar container h-100">
    <div class="side-bar__left">
      <div class="side-bar__prev">
        <btn-circle @click.native="$router.go(-1)" icon="arrow-left" color="light-gray" vertical>
          <span class="color-gray d-none d-xl-inline">Вернуться</span>
        </btn-circle>
      </div>
    </div>
    <div class="side-bar__right">
      <div class="side-bar__header">
        <div class="side-bar__breadcrumbs">
          <Breadcrumbs />
        </div>
        <h2 class="side-bar__h" v-html="title"></h2>
      </div>
      <div class="side-bar__body">
        <div v-if="!!list.length" class="side-bar__list">
          <SideList :items="list"/>
        </div>
        <div class="side-bar__pagination">
          <page-pagination
            v-if="prev || next" :prev="prev" :next="next"
            circle
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideList from "./SideList";
import Breadcrumbs from "./Breadcrumbs";
import BtnCircle from "./BtnCircle";
import PagePagination from "./PagePagination";

export default {
  name: "SideBar",
  components: { PagePagination, BtnCircle, Breadcrumbs, SideList },
  props: {
    list: {
      type: Array,
      default: () => []
    },
    prev: {
      type: [Object, Boolean],
      default: false
    },
    next: {
      type: [Object, Boolean],
      default: false
    },
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.side-bar {
  position: relative;

  display: flex;
  padding-bottom: 30px;

  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;

    background: linear-gradient(to right,rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;

    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  &__left, &__right {
    height: 100%;
    min-width: 0;
  }

  &__left {
    flex: 0 0 100px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    @include media-breakpoint-up(xxl) {
      flex: 0 0 145px;
    }
  }

  &__right {
    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 15%;
    }
  }

  &__body {
    .page-leave-active & {
      transition: transform 0.75s ease-in;
    }

    .page-leave-active & {
      transform: translateY(100px);
    }

    .page-enter-active & {
      transition: transform 0.5s ease-in-out 0.3s;
    }
    .page-enter & {
      transform: translateY(-50px);
    }
  }


  &__prev {
    margin-top: 48px;

    .page-leave-active & {
      transition: transform 0.75s ease-in;
    }

    .page-leave-active & {
      transform: translateY(150px);
    }

    .page-enter-active & {
      transition: transform 0.5s ease-in-out 0.2s;
    }

    .page-enter & {
      transform: translateY(-30px);
    }
  }

  &__h {
    margin-bottom: 0;
    hyphens: manual;

    @include media-breakpoint-down(lg) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .page-leave-active & {
      transition: transform 0.75s ease-in;
    }

    .page-leave-active & {
      transform: translateY(30px);
    }


    .page-enter-active & {
      transition: transform 0.5s ease-in-out 0.2s;
    }

    .page-enter & {
      transform: translateY(-15px);
    }
  }

  &__list {
    margin-top: 5px;
  }

  &__pagination {
    margin-top: 10px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 20px;
    }
  }
}
</style>
