<template lang="pug">
  .video
    .video__wrap
      video.video__source(:src="source" :poster="poster")
      .video__progress.progress(
        @mousedown='grabSeekbar',
        @touchstart='grabSeekbar',
        @touchmove='moveSeekbar',
        @touchend='releaseSeekbar'
      )
        .progress__current(:style = '{ transform: "scaleX(" + getProgressRate + ")" }')
      button.video__button.video__button--absolute(@click="playOrPause")
        svg-icon(name="pause" width="64" height="64" v-if="isPlaying")
        svg-icon(name="play" width="64" height="64" v-if="!isPlaying")
    .video__actions
      .video__title(v-if="!!title")
        button-info {{ title }}
      .video__time
        .time__current  {{ getCurrentTime }}
        .time__all &nbsp / &nbsp {{ getDuration }}
      .video__btns
        button.video__button(@click='fullPage')
          | <svg-icon name="full-page" class="fullpage" />
        button.video__button(@click="playOrPause")
          | <svg-icon name="pause" width="64" height="64" v-if="isPlaying"/>
          | <svg-icon name="play" width="64" height="64" v-if="!isPlaying"/>
</template>

<script>
import ButtonInfo from "~/components/ButtonInfo";

const debounce = (callback, duration) => {
  let timer;
  return function(event) {
    clearTimeout(timer);
    timer = setTimeout(function(){
      callback(event);
    }, duration);
  };
};

export default {
  name: 'VideoPlayer',
  components: { ButtonInfo },
  props: ['source', 'poster', 'title'],
  data: () => ({
    media: null,
    seekbar: null,
    seekbarWidth: 0,
    seekbarOffsetX: 0,
    time: 0,
    duration: 0,
    isPlaying: false,
    isGrabbingSeekbar: false,
  }),
  computed: {
    getProgressRate() {
      return this.time / this.duration;
    },
    getCurrentTime() {
      return this.convertSecondsToTime(this.time);
    },
    getDuration() {
      return this.convertSecondsToTime(this.duration);
    },
  },
  mounted() {
    this.media = this.$el.querySelector('.video__source');
    this.seekbar = this.$el.querySelector('.video__progress');
    this.reLayoutSeekbar();

    this.resizeListener = debounce(() => {
      this.reLayoutSeekbar();
    }, 100);

    this.mouseMoveListener = (event) => {
      this.moveSeekbar(event);
    };

    this.mouseUpListener = (event) => {
      this.releaseSeekbar(event);
    };

    window.addEventListener('resize', this.resizeListener);
    document.addEventListener('mousemove', this.mouseMoveListener);
    document.addEventListener('mouseup', this.mouseUpListener);

    this.media.addEventListener('loadedmetadata', () => {
      this.duration = this.media.duration;
    });
    this.media.addEventListener('ended', () => {
      this.media.currentTime = 0;
      this.isPlaying = false;
    });
  },
  beforeDestroy() {
    this.pause();
    window.removeEventListener('resize', this.resizeListener);
    document.removeEventListener('mousemove', this.mouseMoveListener);
    document.removeEventListener('mouseup', this.mouseUpListener);
  },
  methods: {
    play() {
      this.media.play();
      this.isPlaying = true;
      this.loop();
    },
    pause() {
      this.media.pause();
      this.isPlaying = false;
    },
    playOrPause() {
      if (this.isPlaying) {
        this.pause();
      } else {
        this.play();
      }
    },
    fullPage() {
      if(this.media.requestFullScreen){
        this.media.requestFullScreen();
      } else if(this.media.webkitRequestFullScreen){
        this.media.webkitRequestFullScreen();
      } else if(this.media.mozRequestFullScreen){
        this.media.mozRequestFullScreen();
      }
    },
    loop() {
      this.time = this.media.currentTime;
      if (!this.isPlaying) return;
      requestAnimationFrame(() => {
        this.loop();
      });
    },
    grabSeekbar(event) {
      event.preventDefault();
      this.isGrabbingSeekbar = true;
      this.time = this.media.currentTime = event.layerX / this.seekbarWidth * this.duration;
      this.media.pause();
    },
    moveSeekbar(event) {
      event.preventDefault();
      if (!this.isGrabbingSeekbar) return;
      this.time = this.media.currentTime =
        (event.clientX - this.seekbarOffsetX - window.pageXOffset)
        / this.seekbarWidth * this.duration;
    },
    releaseSeekbar(event) {
      event.preventDefault();
      this.isGrabbingSeekbar = false;
      if (this.isPlaying) {
        this.media.play();
      }
    },
    reLayoutSeekbar() {
      this.seekbarWidth = this.seekbar.clientWidth;
      this.seekbarOffsetX = this.seekbar.getBoundingClientRect().left;
    },
    convertSecondsToTime(time) {
      let seconds = Math.floor(time % 60);
      if (seconds < 10) seconds = '0' + seconds;
      let minutes = Math.floor(time / 60 % 60);
      return `${minutes}:${seconds}`
    },
  }
}
</script>

<style lang="scss" scoped>
.video {
  $self: &;

  &__wrap {
    position: relative;
    width: 100%;
    display: block;
    &:hover {
      #{$self} {
        &__button {
          &--absolute {
            opacity: 1;
          }
        }
      }
    }
  }

  &__source {
    width: 100%;
    height: auto;
    max-height: 100%;

    &[poster] {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__progress {
    position: absolute;
    width: 100%;
    bottom: 5px;
  }

  &__actions {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__time {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      margin: 0;
    }
  }

  &__title + &__time  {
    margin-left: auto;
  }

  &__button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EBEEF1;
    border: none;
    cursor: pointer;
    @extend %transition;
    outline: none;

    @include media-breakpoint-down(md) {
      width: 50px;
      height: 50px;
    }

    svg {
      fill: #0065BB;
    }

    &:last-child {
      margin-left: 10px;
    }

    &--absolute {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }


    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-left: 50px;
    @include media-breakpoint-down(xs) {
      margin: 0;
    }
  }
}


.progress {
  height: 4px;
  background-color: #EBEEF1;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center bottom;

  &:hover {
    transform: scaleY(3);
  }

  &__current {
    height: 100%;
    background-color: #0065BB;
    transform: scaleX(0);
    transform-origin: left;
  }
}

.fullpage {
  width: 20px;
  height: 20px;
}

.time {
  &__current {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #0065BB;
  }
  &__all {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #949FA8;
  }
}
</style>

