<h3>Реставрация бронекатера БК-31</h3>
<p>Наиболее деликатной и ответственно работой предприятия является реставрация участника Сталинградской битвы, легендарного и известного далеко за пределами Волгограда, бронекатера БКА-31.</p>
<br>
<video-player
  source="http://www.tplh.net/file/sample.mp4"
  poster="/media/about/armored-boat/poster.jpg"
  title="Подъем бронекатера БК-31"
/>
<br>
<p>Особенность данных работ заключается в том, что их целью обозначено восстановление облика боевого корабля, детально и в полной мере соответствующего моменту его гибели. Кроме чисто технических работ, в ходе которых проводится восстановление механической прочности корпуса, большой пласт работ несет сугубо декоративный характер.</p>
<p>Огромное внимание уделяется мелочам, так как в малом всегда кроется великое.</p>

<br>
<Slider title="Реставрация бронекатера БК-31">
  <Slide><img src="/media/about/armored-boat/gallery-1/1.jpg" alt="Реставрация бронекатера БК-31"></Slide>
  <Slide><img src="/media/about/armored-boat/gallery-1/2.jpg" alt="Реставрация бронекатера БК-31"></Slide>
  <Slide><img src="/media/about/armored-boat/gallery-1/3.jpg" alt="Реставрация бронекатера БК-31"></Slide>
  <Slide><img src="/media/about/armored-boat/gallery-1/4.jpg" alt="Реставрация бронекатера БК-31"></Slide>
  <Slide><img src="/media/about/armored-boat/gallery-1/5.jpg" alt="Реставрация бронекатера БК-31"></Slide>
  <Slide><img src="/media/about/armored-boat/gallery-1/6.jpg" alt="Реставрация бронекатера БК-31"></Slide>
</Slider>
<br>

<p>Сотрудники военно-исторического музея «Наследие» провели огромную работу с историческими документами, отработав соответствующие материалы не только в Государственном архиве Волгоградской области, но и в архивах Министерства обороны. Одним из результатов этих работ стал словно проявившийся из тумана облик героического судна, который предстоит воплотить в жизнь к завершению реставрации. </p>
<p><strong>Мы уверены в том, что совместными усилиями нам удастся поднять планку в реставрационных работах
с военной техникой на более высокий уровень, который оценят не только в нашей стране, но и далеко
за ее пределами.</strong></p>
