<h3>Подъем затонувших судов и их утилизация</h3>
<p>Находящиеся в водных объектах корабли и их фрагменты, окисляясь, загрязняют воды, негативным образом влияют на флору и фауну, а также зачастую препятствуют реализации права граждан на доступ к водным объектам общего пользования.</p>
<p>В настоящее время по решению различных инстанций ведется подъем затонувших объектов. Но намного больше судов считаются бесхозными. Больше всего их насчитывается на территории Астраханской области – 192 единицы, в Татарстане– 90 единиц, в Нижегородской области – 53. Механизм их подъема и утилизации должен быть разработан в рамках программы по очистке Волги, которая рассчитана до 2025 года, на нее уже выделено 257 млрд рублей.</p>
<br>
<Slider title="Утилизация судов">
  <Slide><img src="/media/about/disposal/gallery-1/1.jpg" alt="Утилизация судов"></Slide>
  <Slide><img src="/media/about/disposal/gallery-1/2.jpg" alt="Утилизация судов"></Slide>
  <Slide><img src="/media/about/disposal/gallery-1/3.jpg" alt="Утилизация судов"></Slide>
  <Slide><img src="/media/about/disposal/gallery-1/4.jpg" alt="Утилизация судов"></Slide>
</Slider>
<br>
<p>Встречаются на дне Волги суда, которые можно перевести в разряд музейных экспонатов, и здесь уже другой подход. Старинное судно должно пройти специальную обработку - консервацию.</p>
<p>Демонтаж судов должен осуществляться квалифицированными специалистами, имеющими достаточный опыт в данной сфере. работы при этом производятся на изолированных площадках. Перед распилом судна необходима тщательная его проверка на предмет вредоносных веществ, а также последующая очистка.</p>
<p>В России мало организаций специализирующихся на утилизации судов на металлолом, поскольку это требует необходимых разрешений, дорогостоящей техники, больших рабочих площадок, опыта, квалификации и возможности перепродажи судна на лом. Волгоградский смудоремонтный завод обладает всеми необходимыми лицензиями и оборудованием для утилизации судов.</p>
<btn-circle class="mt-3">
  <span class="color-gray">Перейти к разделу</span><br>
  <span class="color-brand large-text">Реализованные проекты по утилизации</span>
</btn-circle>
