<h3>История компании</h3>
<br><br>
<div>
  <history-card img="/media/about/history/1.jpg" date="1890 год">
    Царицинские промышленники и судовладельцы построили большую дамбу и создали Сарептский (ныне Красноармейский) затон
  </history-card>
  <history-card img="/media/about/history/2.jpg" date="16 декабря 1937 года">
    Подписан приказ №1366 о выделении Красноармейского затона в самостоятельный ремонтный пункт
  </history-card>
  <history-card img="/media/about/history/3.jpg" date="1941 год">
    В Красноармейский затон эвакуирован Гомельской судоремонтный завод
  </history-card>
  <history-card img="/media/about/history/4.jpg" date="Зима 1941 - 1942 года">
    Судоремонтный завод начал изготовление боеприпасов. Начато строительство бронекатеров.
  </history-card>
  <history-card img="/media/about/history/5.jpg" date="Весна 1942 года">
    На воду спущены 3 бронекатера и металическая баржа для нужд фронта
  </history-card>
  <history-card img="/media/about/history/6.jpg" date="Лето 1942 года">
    Начало боев в Сталинграде, эвакуация завода в г. Чистополье. Оставшиеся рабочие изготавливают железные печки и саперные инструменты для воинских частей.
  </history-card>
  <history-card img="/media/about/history/7.jpg" date="1945 год">
    Завод возвращается из эвакуации. Восстанавливается производство боеприпасов, начинается ремонт речных и военных судов
  </history-card>
  <history-card img="/media/about/history/8.jpg" date="1949 год">
    Принято решение о реконструкции завода и строительстве поселка для рабочих и плавсостава
  </history-card>
  <history-card img="/media/about/history/9.jpg" date="1956 год">
    Заводу переданы самоходные буксирные и сухогрузные суда с дизельными силовыми установками
  </history-card>
  <history-card img="/media/about/history/10.jpg" date="1950 - 1960 годы ">
    На предприятии ремонтируется несудоходный и самоходный флот, построено 500 понтонов для грунтопровода и зачистная станция.
  </history-card>
  <history-card img="/media/about/history/11.jpg" date="1961 - 1967 годы">
    Выполнены заказы по судостроению для сельского хозяйства и заказы МРФ по машиностроению. Построен судоподъёмный кран, секции корпусов брандвахты, паромные переправы, машины для перегрузки леса, машина для перегрузки гравия.
  </history-card>
  <history-card img="/media/about/history/12.jpg" date="1967 год">
    Завод полностью реконструирован и начал проводить все виды ремонта судов.
  </history-card>
  <history-card img="/media/about/history/13.jpg" date="1970 - 1977 годы">
    Начато строительство земснарядов для гидростроителей, химики Казахстана получили 12 корпусов брандвахт. Для сельского хозяйства строились паромные переправы, оборудован механизированный зерновой причал.
  </history-card>
  <history-card img="/media/about/history/14.jpg" date="1977 год">
    Завод отметил 40-летний юбилей. Проведена подготовка к выпуску механизированного гидроперегружателя Р68А.
  </history-card>
  <history-card img="/media/about/history/15.jpg" date="2000 год">
    Построен судоподъёмный плавкран грузоподъемностью 200т
  </history-card>
</div>
