<div class="row">
  <div class="col-md-8">
    <p>Красноармейский судоремонтный завод находится на пересечении главных водных путей Европейской части Российской Федерации из Волги, Камы, северных морей в Дон, Азовское и Черное моря, а также в Каспийское море.</p>
    <p>Профиль предприятия— судоремонт, утилизация выведенных из эксплуатации судов, а также демонтаж оборудования и зданий недействующих предприятий. Все работы осуществляются по стандартам «Российского Речного Регистра».</p>
  </div>
  <div class="col-md-4 text-center">
    <img src="/media/about/directions/rrr-logo.png" alt="">
  </div>
</div>
<br>
<Panorama src="/media/about/directions/panorama.jpg" />
<br>
<p>Производимый нашим предприятием ремонт судов - сложный и разнообразный технологический процесс (судокорпусные работы, ремонт ДРК, ремонт трубопроводов и электрооборудования, отделка помещений), требующих четкого определения действий по организации работ и сдаче судов в эксплуатацию в соответствии с требованием Регистра.</p>
<br>
<div class="row">
  <div class="col-md-6 col-xxl-6">
    <h3>Работы разделяются на несколько этапов:</h3>
    <ol>
      <li>проработка ремонтных ведомостей заказчика;</li>
      <li>предремонтное дефектирование судна;</li>
      <li>прием судна в ремонт, подготовка судна к ремонту и окончательное дефектирование судна;</li>
      <li>непосредственный ремонт с участием производственных цехов, соответствующих отделов и служб завода: ходовые и швартовые испытания, подготовка к разработке документации по нулевому циклу очередного ремонта.</li>
    </ol>
  </div>
  <div class="col-md-6 col-xxl-5 offset-xxl-1 text-center">
    <p class="h-100"><img class="img-cover" src="/media/about/directions/photo.jpg" alt=""><p/>
  </div>
</div>
<br>
<br>
<p>Для данных видов работ у нас имеется вся необходимая техническая база: буксир, судоподъёмный слип, крытые цеха для выполнения работ в комфортных условиях, крановая техника – все необходимое стационарное и портативное оборудование.</p>
<btn-circle class="mt-2 mb-4">
  <span class="color-gray">Перейти к разделу</span><br>
  <span class="color-brand large-text">Техническая база</span>
</btn-circle>

<p>Для утилизации старых судов имеются две площадки площадью по 2 Га, это позволяет разбирать несколько судов одновременно, что повышает КПД Предприятия по данному виду деятельности. Для достижения целей мы опираемся на высококвалифицированный персонал и богатые традиции Красноармейского судоремонтного завода.</p>
<btn-circle class="mt-2 mb-4">
  <span class="color-gray">Перейти к разделу</span><br>
  <span class="color-brand large-text">Утилизация</span>
</btn-circle>

<p>Компания «МонолитСтрой-Холдинг» обладает официальным признанием Российского Речного регистра на дефекацию и ремонт корпусов, судовых механизмов и оборудования, строительство несамоходных и плавучих объектов, а также лицензией на сбор, переработку и реализацию лома черных и цветных металлов.</p>
<btn-circle class="mt-2 mb-4">
  <span class="color-gray">Перейти к разделу</span><br>
  <span class="color-brand large-text">Лицензии и сертификаты</span>
</btn-circle>
