<h3>Правовая информация</h3>
<p>Компания «МонолитСтрой-Холдинг» обладает официальным признанием Российского Речного регистра на дефекацию
  и ремонт корпусов, судовых механизмов и оборудования, строительство несамоходных и плавучих объектов, а также лицензией на сбор, переработку и реализацию лома черных и цветных металлов. </p>
  <br>
<div class="document">
  <document-card img="/media/license/license.png" alt="Лицензия" url="/media/license/license.png">
    Лицензия на осуществление заготовки, хранения, переработки и реализации лома черных и цветных металлов
  </document-card>
  <document-card img="/media/license/license-2.png" alt="Лицензия">
    Лицензия на осуществление заготовки, хранения, переработки и реализации лома черных и цветных металлов
  </document-card>
  <document-card img="/media/license/license-3.png" alt="Лицензия">
    Лицензия на осуществление заготовки, хранения, переработки и реализации лома черных и цветных металлов
  </document-card>
</div>

