<h3>В арсенале компании имеются:</h3>
<ul>
  <li>Наклонный слип на 10 дорожек</li>
  <li>Портальный кран грузоподъемностью 16 тонн</li>
  <li>Козловой кран грузоподъемностью 20 тонн</li>
  <li>Автомобильный кран грузоподъемностью 14 тонн</li>
  <li>Гусеничный кран грузоподъемностью 10 тонн</li>
  <li>Автомобили повышенной грузоподъемности</li>
  <li>Внутризаводская спецтехника (грейдер, трактор, погрузчик и т.д.)</li>
  <li>Площадки для хранения лома</li>
  <li>Площадки для проведения демонтажа судов 2х2Га</li>
  <li>Акватория для отстоя судов 300х100 м</li>
  <li>Кислородная станция для заправки кислородных моноблоков</li>
  <li>Станок-гильотина для резки металлопроката</li>
  <li>Крытые цеха для проведения работ в холодное и дождливое время года</li>
  <li>Капитальные склад для хранения материальных ценностей</li>
  <li>Архив чертежей по судостроению и судоремонту</li>
  <li>Полный спектр инструмента для проведения работ по судоремонту и утилизации</li>
</ul>
<p>&nbsp;</p>
<img class="img-responsive" src="/media/about/technical-base/photo-1.jpg" alt="">
<p>&nbsp;</p>
<h3>Слиповое оборудование</h3>
<p>Для капитальных работ по корпусу и движетельно-рулевому комплексу наше предприятие имеет в собственности <b>наклонный судоподъёмный слип проектной грузоподъемностью 1500 тонн,</b> а с вводом в эксплуатацию 11-й дорожки - 1650 тонн при длине судов до 110м. В отличии от слипов некоторых других судоремонтных и судостроительных предприятий, функционирующих в южной части России, слип Красноармейского судоремонтного завода «МонолитСтрой-Холдинг» имеет <b>рельсовый путь на железобетонном основании.</b> На предприятии уделяется крайне серьезное внимание техническому состоянию слипового оборудования: от тележек и лебедок до рельсового пути. Все это обеспечивает безаварийный подъем и спуск судов без отклонений от графика.</p>
<br>
<Panorama src="/media/about/technical-base/panorama.jpg" />
<br>
<p>&nbsp;</p>
<h3>Механический цех</h3>
<p>Важнейшая роль в функционировании предприятия возложена на – механический цех. Под его сводами на станках токарно-фрезерной группы выполняется самый широкий ассортимент работ. Настоящий «ветеран» завода – <b>станок для расточки гребных валов</b>, построенный в Германской Демократической Республике более 60 лет назад, после глубокой ревизии снова готов к работе и даст фору многим современным моделям. Приобретено новейшее высокопроизводительное <b>высоковольтное устройство для наплавки металла</b>. Направление по наплавке и расточке - одно из ключевых в судоремонте и заработало на заводе с новой силой.</p>
<br>
<Slider title="Расточка валов">
  <Slide><img src="/media/about/technical-base/gallery-1/1.jpg" alt="1"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-1/2.jpg" alt="2"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-1/3.jpg" alt="3"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-1/4.jpg" alt="4"></Slide>
</Slider>


<p>&nbsp;</p>
<h3>Буксир и ледокол</h3>
<p>Новым судном предприятия стал <b>портовый буксир проекта 1437 «Сержант И. Павлов»,</b> в задачи которого входят работы на акватории завода по толканию и буксировке флота, заводка судов на тележки для их последующего подъема на слип, буксировка аварийного флота из акваторий Волго-Донского судоходного канала, рейдов Красноармейского района и пр. Кроме транспортных задач новое <b>судно будет выполнять роль ледокола</b> в сезон образования льдов <b>и функции универсального разъездного судна.</b></p>
<br>
<Slider title="Буксир «Сержант И. Павлов»">
  <Slide><img src="/media/about/technical-base/gallery-2/1.jpg" alt="1"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-2/2.jpg" alt="2"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-2/3.jpg" alt="3"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-2/4.jpg" alt="4"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-2/5.jpg" alt="5"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-2/6.jpg" alt="6"></Slide>
  <Slide><img src="/media/about/technical-base/gallery-2/7.jpg" alt="7"></Slide>
</Slider>
