<h3>Работа на Волгоградском судоремонтном заводе</h3>
<p>Если Вы не нашли вакансии, соответствующей Вашим навыкм и опыту работы, позвоните по телефону <a href="tel:+78442550156">+7 (8442) 55-01-56</a>  или направьте резюме на электронную почту  <a href="mailto:great.river.vlg@yandex.ru">great.river.vlg@yandex.ru</a> Резюме будет рассмотрено, и в случае наличия подходящей вакансии с Вами свяжется наш сотрудник.</p>
<br>
<Accordion>
  <AccordionCard>
    <template v-slot:header>
      <div class="d-lg-flex justify-content-between">
        <h5 class="color-brand">Сборщик-достройщик судовой 4-5 разряд</h5>
        <h5 class="color-gray">от 35 000 рублей</h5>
      </div>
    </template>

    <p>Наличие удостоверения о соответствующем профессиональном образовании, запись в ТК и опыта работы по профессии:</p>
    <ul>
      <li>Сборка крупногабаритных плоскостных секций со сложной кривизной</li>
      <li>Объемных секций с криволинейными обводами</li>
      <li>Формирование судна на стапеле из блок-секций для средней части корпуса</li>
      <li>Установка деталей насыщения на конструкциях</li>
    </ul>
    <p>
      Чтобы откликнуться на эту вакансию, позвоните по телефону <a href="tel:+78442550156">+7 (8442) 55-01-56</a>
      или направьте резюме на электронную почту <a href="mailto:great.river.vlg@yandex.ru">great.river.vlg@yandex.ru</a>
    </p>
  </AccordionCard>
</Accordion>
