/* COLORS */
$brand: #0065BB;
$dark: #2A2B31;
$gray: #949FA8;
$light-gray: #EBEEF1;
$light: #F8F9FA;
$white: #FFF;
$red: #BB0000;


/* GRID */
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1920px
);

$grid-breakpoints: $breakpoints;

$container-max-widths: (
  sm: 540px,
  md: 700px,
  lg: 860px,
  xl: 1210px,
  xxl: 1740px
);

$grid-gutter-width: 40px;


$navbar-heights: (
  xs: 70px,
  sm: 70px,
  md: 80px,
  lg: 80px,
  xl: 80px,
  xxl: 90px
);

 $footer-heights: (
  xs: 150px,
  sm: 150px,
  md: 80px,
  lg: 80px,
  xl: 80px,
  xxl: 100px
);

$side-heights: (
  xs: 125px,
  sm: 130px,
  md: 140px,
  lg: 140px,
);

%transition {
  transition: all .5s ease;
}

