@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');

@import "~bootstrap/scss/bootstrap-grid";

@import "common";

html, body {
  color: $dark;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  -webkit-tap-highlight-color: transparent;

  background: $light;

  @include media-breakpoint-down(xl) {
    font-size: 14px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

:focus {
  outline: none;
}

.bg-brand      { background: $brand; color: $white }
.bg-dark       { background: $dark;  color: $white }
.bg-red        { background: $red;   color: $white }
.bg-gray       { background: $gray }
.bg-light-gray { background: $light-gray }
.bg-light      { background: $light }
.bg-white      { background: $white }

.color-brand      { color: $brand }
.color-dark       { color: $dark }
.color-gray       { color: $gray }
.color-light-gray { color: $light-gray }
.color-light      { color: $light }
.color-white      { color: $white }
.color-red        { color: $red }

.fill-brand       { fill: $brand }
.fill-dark        { fill: $dark }
.fill-gray        { fill: $gray }
.fill-light-gray  { fill: $light-gray }
.fill-light       { fill: $light }
.fill-white       { fill: $white }
.fill-red         { fill: $red }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p, ul, li {
  margin: 15px 0;
}

sup {
  position: relative;
  top: -0.6em;
  font-weight: bold;
  font-size: 0.6em;
  letter-spacing: -0.02em;
  color: $brand;
}

h1, .h1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 110%;

  @include media-breakpoint-up(md)  { font-size: 40px; }
  @include media-breakpoint-up(xxl) { font-size: 60px; }
}

h2, .h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  @include media-breakpoint-up(md)  { font-size: 36px; }
  @include media-breakpoint-up(xxl) { font-size: 40px; }
}

h3, .h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;

  @include media-breakpoint-up(md)  { font-size: 24px; }
  @include media-breakpoint-up(xxl) { font-size: 30px; }
}

h4, .h4  {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  @include media-breakpoint-up(xxl) { font-size: 24px; }
}

h5, .h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  @include media-breakpoint-up(xxl) { font-size: 18px; }
}

h6, .h6 {
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  @include media-breakpoint-up(xxl) { font-size: 15px; }
}

a, button, .btn, .nav-elem {
  font-size: 0.9rem;
  line-height: 1.2em;
}

a {
  color: $brand;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.reset {
  color: inherit;
  &:hover { text-decoration: none; }
}

.large-text {
  font-weight: bold;
  font-size: 1.2em;
}

.small-text {
  font-size: 0.75em;
  line-height: 1.2em;
}

.font-bold {
  font-weight: bold;
}

.translucent {
  opacity: 0.5;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.hyphens-manual {
  hyphens: manual;
}

ul {
  list-style: none;
  padding-left: 24px;

  li {
    margin: 7.5px 0;
  }

  li::before {
    content: "\2022";
    color: $brand;
    font-weight: bold;
    display: inline-block;
    width: 24px;
    margin-left: -24px;
  }
}

.list-dash li::before {
  content: "\2014";
}

ol {
  list-style: none;
  padding-left: 24px;

  counter-reset: my-awesome-counter;

  li {
    margin: 9px 0;
    counter-increment: my-awesome-counter;
  }

  li::before {
    content: counter(my-awesome-counter, decimal-leading-zero);

    display: inline-block;
    position: relative;
    top: -0.8em;

    margin-left: -22px;
    width: 22px;

    color: $brand;
    font-size: 0.7rem;
    font-weight: bold;
  }
}


.list-flex {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      flex: 0 0 calc(50% - 40px);
    }
  }
}

.list-underlined {
  li {
    position: relative;
    margin-top: 40px;
  }

  li:after {
    content: '';
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    height: 1px;
    width: 105px;
    margin: -20px 0 0 -25px;

    background: #D8DEE4;
  }
}


li:empty {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  &:before, &:after {
    display: none;
  }
}


section {
  margin-bottom: 60px;
  @include media-breakpoint-up(lg) { margin-bottom: 80px; }

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


.img-cover {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}


.icon {
  width:  1em;
  height: 1em;
  vertical-align: middle;
}

.flip {
  transform: scaleX(-1);
}

.flip-vertical {
  transform: scaleY(-1);
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.h-100 {
  height: 100% !important;
}



// transitions

@include media-breakpoint-up(xl) {
  .page {
    &-enter-active {
      transition: opacity .75s cubic-bezier(.11,1.1,.22,.99);
    }

    &-leave-active {
      transition: opacity .75s cubic-bezier(1,0,.65,-0.08);
    }

    &-enter, &-leave-active {
      opacity: 0;
    }
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity .5s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.scale-in-down {
  &-enter-active, &-leave-active {
    transition: opacity .5s, transform .5s;
    transform-origin: bottom center;
  }
  &-enter, &-leave-to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.slide-down {
  &-enter-active, &-leave-active {
    transition: opacity .5s, transform 0.5s;
  }
  &-enter, &-leave-to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.list-complete-item {
  position: relative;
  width: 100%;
  transition: all 0.75s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}


// keyframes
@keyframes fadeIn
{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
