<template lang="pug">
.content-scale-layout(:class='classes')
  .content-scale-layout__menu-toggle(@click='toggleMenu')
    burger(:close='menuIsOpen || menuIsOpens')
  .content-scale-layout__menu
    .content-scale-layout__menu-list
      MenuList(@click-link="closeMenu")
  .content-scale-layout__wrp(ref='wrp', @click='closeMenu')
    .content-scale-layout__navbar
      NavBar
    .content-scale-layout__content(ref='content')
      slot
</template>

<script>
import Burger from "~/components/Burger";
import MenuList from "~/components/MenuList";
import NavBar from "~/components/NavBar";

export default {
  name: "ContentScaleLayout",
  components: { NavBar, MenuList, Burger },
  data: () => ({
    menuIsOpen: false,
    menuIsOpens: false,
    menuIsCloses: false,
    scrollPosBeforeOpen: 0,
    roteIsChanged: false
  }),

  watch: {
    $route (to, from) {
      this.roteIsChanged = to.path !== from.path;
    }
  },

  computed: {
    classes() {
      return {
        'content-scale-layout--open': this.menuIsOpen,
        'content-scale-layout--opens': this.menuIsOpens,
        'content-scale-layout--closes': this.menuIsCloses,
      }
    },
    menuIsToggled() {
      return this.menuIsOpens || this.menuIsCloses;
    },
  },

  methods: {
    toggleMenu() {
      if (this.menuIsOpen) {
        this.closeMenu();
      } else {
        this.openMenu();
      }
    },
    openMenu() {
      if (this.menuIsToggled || this.menuIsOpen) return;

      this.roteIsChanged = false;
      this.scrollPosBeforeOpen = window.scrollY;

      requestAnimationFrame(() => {
        this.menuIsOpens = true;
        this.$refs.content.style.marginTop = `-${window.scrollY}px`;
        this.$refs.wrp.style.height = `${window.innerHeight}px`
      });

      setTimeout(requestAnimationFrame, 750, () => {
        this.menuIsOpen = true;
        this.menuIsOpens = false;
      });
    },
    closeMenu() {
      if (this.menuIsToggled || !this.menuIsOpen) return false;

      requestAnimationFrame(() => {
        this.menuIsCloses = true;
        this.menuIsOpen = false;

        requestAnimationFrame(() => {
          if (this.roteIsChanged) {
            this.scrollPosBeforeOpen = 0;
            this.$refs.content.style.marginTop = '';
          }
        })
      });

      setTimeout(requestAnimationFrame, 750, () => {
        this.menuIsCloses = false;
        requestAnimationFrame(() => {
          this.$refs.content.style.marginTop = '';
          this.$refs.wrp.style.height = '';
          window.scrollTo(0, this.scrollPosBeforeOpen);
        });
      })
    }
  }
}
</script>

<style lang="scss">
.content-scale-layout {
  background: $dark;

  &__wrp {
    position: relative;
    background: $white;
    min-height: 100vh;

    @each $breakpoint, $navbar-height in $navbar-heights {
      @include media-breakpoint-up($breakpoint, $breakpoints) {
        padding-top: $navbar-height;
      }
    }
  }

  &__navbar {
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;

    background: $dark;
    color: $white;

    @each $breakpoint,$navbar-height in $navbar-heights {
      @include media-breakpoint-up($breakpoint, $breakpoints) {
        height: $navbar-height;
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__menu-toggle {
    position: fixed;
    top: 18px;
    right: 20px;
    z-index: 300;

    @include media-breakpoint-up(md) {
      top: 30px;
      right: 50%;
      transform: translateX(50%);
    }

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &__menu-list {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    width: 150px;

    @include media-breakpoint-between(md, xl) {
      top: 80px;
      right: auto;
      left: 50%;
      width: 80%;

      text-align: center;
      transform: translateX(-50%);
    }

    @include media-breakpoint-up(xl) {
      top: 40px;
      width: auto;
      right: 240px;
    }

    @include media-breakpoint-up(xxl) {
      top: 60px;
    }
  }

  &--open,
  &--opens  &__wrp,
  &--closes &__wrp,
  &--open   &__wrp
  {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  &--closes &__wrp,
  &--opens  &__wrp
  {
    transition: transform 0.75s ease;
  }

  &--closes &__wrp {

  }

  &--opens &__wrp,
  &--open  &__wrp {
    transform: scale(0.6) translateX(-200px);

    @include media-breakpoint-up(md) {
      transform: scale(0.8) translateY(150px);
    }
  }
}
</style>
