<template lang="pug">
  div.main-grid(:class="classes")
    .main-grid__side(:style="{ marginTop: `${sideTop}px` }")
      slot(name="side")
        .container
          h3 SIDE
    .main-grid__fixed-body(v-if="$slots.hasOwnProperty('fixed-body')")
      slot(name="fixed-body")
    .main-grid__body
      slot
    .main-grid__footer
      slot(name="footer")
        .container
          Footer
</template>

<script>
import anime from "animejs";
import Footer from "~/components/Footer";
import Btn    from "~/components/Btn";


export default {
  name: "MainGrid",
  components: { Btn, Footer },
  props: {
    hasNav: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    sideTop: 0,
    lastPageYOffset: 0
  }),
  computed: {
    classes() {
      return {
        'main-grid--has-nav' : this.hasNav
      }
    }
  },
  watch: {
    $route(from, to) {
      if(from.path !== to.path) {
        anime({
          targets: this,
          sideTop: 0,
          easing: 'easeInOutSine',
          duration: 300
        })
      }
    }
  },
  mounted() {
    setTimeout(() => {
      this.lastPageYOffset = window.pageYOffset;
      window.addEventListener('scroll', this.scroll);
    }, 100)
  },
  destroyed() {
    window.removeEventListener('scroll', this.scroll);
  },
  methods: {
    scroll(e) {
      if ( (window.innerWidth > 767)
        || (window.pageYOffset < 1 || window.pageYOffset > (document.documentElement.scrollHeight - window.innerHeight))
      ){
        return false;
      }

      let min = this.hasNav ? -80 : -100;

      let difference = this.lastPageYOffset - window.pageYOffset;

      this.sideTop += difference;

      if (this.sideTop < min) this.sideTop = min;
      if (this.sideTop > 0) this.sideTop = 0;

      this.lastPageYOffset = window.pageYOffset;
    }
  }
}
</script>

<style lang="scss">

.main-grid {
  $self: &;

  @each $breakpoint, $w in $breakpoints {
    @include media-breakpoint-only($breakpoint, $breakpoints) {
      $navbar: map_get($navbar-heights, $breakpoint);
      $footer: map_get($footer-heights, $breakpoint);
      $side:   map_get($side-heights, $breakpoint);

      @if $side == null {
        $side: 0;
      } @else {
        margin-top: $side - 25px;
        #{$self}--has-nav & { margin-top: $side }
      }

      min-height: calc(100vh - #{$navbar + $footer + $side});
    }
  }

  &__side {
    position: fixed;
    z-index: 99;

    width: 100%;
    height: 100%;

    background: $white;

    @each $breakpoint, $navbar-height in $navbar-heights {
      @include media-breakpoint-only($breakpoint, $breakpoints) {
        top: $navbar-height;
      }
    }

    @each $breakpoint, $side-height in $side-heights {
      @include media-breakpoint-only($breakpoint, $breakpoints) {
        height: $side-height - 25px;

        #{$self}--has-nav & {
          height: $side-height
        }
      }
    }

    .page-enter-active &,
    .page-leave-active & {
      transition: all 0.5s;
      transition-timing-function: ease-in-out;
    }

    .page-leave-active & {
      transition-delay: 0.2s;
      transition-timing-function: ease-in;
    }

    .page-leave-active &,
    .page-enter & {
      opacity: 0;
    }

    .page-leave-active & {
      transform: translateY(200px);
    }

    .page-enter & {
      transform: translateY(-200px);
    }
  }

  &__fixed-body {
    position: relative;
    height: 250px;

    .page-enter-active &,
    .page-leave-active & {
      transition: all 0.5s;
      transition-timing-function: ease-in-out;
    }

    .page-leave-active & {
      transition-timing-function: ease-in;
    }

    .page-enter &, .page-leave-active & {
      transform: translateY(-100%);
    }
  }
  &__body {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    background: $light;

    &:after {
      content: '';
      display: table;
      height: 0;
      overflow: hidden;
      clear: both;
    }

    @each $breakpoint, $w in $breakpoints {
      @include media-breakpoint-only($breakpoint, $breakpoints) {
        $navbar: map_get($navbar-heights, $breakpoint);
        $footer: map_get($footer-heights, $breakpoint);
        $side:   map_get($side-heights, $breakpoint);

        @if $side == null {
          $side: 0;
        }

        min-height: calc(100vh - #{$navbar + $footer + $side});
      }
    }

    .page-enter-active &,
    .page-leave-active & {
      transition: all 0.5s;
      transition-timing-function: ease-in-out;
    }

    .page-leave-active & {
      transition-timing-function: ease-in;
    }

    .page-enter &, .page-leave-active & {
      opacity: 0;
    }

    .page-leave-active & {
      transform: translateY(-200px);
    }

    .page-enter & {
      transform: translateY(200px);
    }
  }

  &__footer {
    display: flex;
    align-items: center;

    background: $light-gray;

    @each $breakpoint, $footer-height in $footer-heights {
      @include media-breakpoint-only($breakpoint, $breakpoints) {
        height: $footer-height;
      }
    }

    .page-enter-active &,
    .page-leave-active & {
      transition: all 0.5s;
      transition-timing-function: ease-in-out;
    }

    .page-leave-active & {
      transition-timing-function: ease-in;
    }

    .page-enter &, .page-leave-active & {
      transform: translateY(100%);
    }
  }

  @include media-breakpoint-down(md) {
    &__footer {
      .row {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__body {
      padding-top:    30px;
      padding-bottom: 30px;
    }
  }

  @include media-breakpoint-up(xl)
  {
    .container {
      /*width: auto;*/
    }

    &__body, &__side {
      padding-top:    30px;
      padding-bottom: 30px;
    }

    &__side {
      position: fixed;
      left: 0;

      width: calc(50% - 180px);

      padding-left: calc(50% - 605px);
    }

    &__fixed-body,
    &__body,
    &__footer
    {
      position: relative;
      margin-left: auto;
      margin-right: 0;

      width: calc(50% + 180px);
      padding-right: calc(50% - 605px);
    }

    &__fixed-body {
      position: fixed;
      top: map_get($navbar-heights, "xl");
      right: 0;
      padding-right: 0;
      height: 400px;
    }

    &__fixed-body + &__body{
      margin-top: 400px;
    }

    &__body,
    &__footer {
      > .container {
        padding-left: 1 / 12 * 100%;
      }
    }
  }

  @include media-breakpoint-up(xxl)
  {
    &__side,
    &__body {
      padding-top:    50px;
      padding-bottom: 50px;
    }

    &__side {
      width: calc(50% - 240px);
      padding-left: calc(50% - 870px);
    }

    &__fixed-body,
    &__body,
    &__footer
    {
      width: calc(50% + 240px);
      padding-right: calc(50% - 870px);
    }

    &__fixed-body {
      top: map_get($navbar-heights, "xxl");
      padding-right: 0;
    }
  }
}
</style>
