<template>
  <div>
    <Preloader/>
    <ContentScaleLayout>
      <Nuxt />
    </ContentScaleLayout>
  </div>
</template>

<script>
import ContentScaleLayout from "~/grids/ContentScaleLayout";
import Preloader from "../components/Preloader";

export default {
  components: { Preloader, ContentScaleLayout },
  mounted() {
    setTimeout(this.scrollFix, 1);
  },
  methods: {
    scrollFix() {
      if (process.client && !!window.location.hash) {
        const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;
        const targetElement = document.querySelector(window.location.hash);

        if (!!targetElement && !!scrollElement) scrollElement.scrollTop = targetElement.offsetTop - 30;
      }
    }
  }
}
</script>
