<template>
  <div class="error-page">
    <div class="container h-100">
      <div class="error-page__wrp">

        <div class="error-page__left-side">

          <div class="error-code">
            <div class="error-code__code">{{ error.statusCode }}</div>
            <div class="error-code__label">ошибка</div>
          </div>

        </div>

        <div class="error-page__right-side">

          <div v-if="error.statusCode === 404">
            <h2>Похоже, вы потерялись</h2>
            <p class="large-text">Страница, которую вы запрашиваете не существует. <br> Попробуйте вернуться на главную.</p>
          </div>
          <div v-else>
            <h2>Произошел программный сбой</h2>
            <p class="large-text">Страница, которую вы запрашиваете не отвечает. <br>Попробуйте вернуться на главную.</p>
          </div>
          <p class="pt-4">
            <btn-circle icon="arrow-prev" color="white" to="/">
              Вернуться на главную
            </btn-circle>
          </p>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
import BtnCircle from "~/components/BtnCircle";
import Footer    from "~/components/Footer";

export default {
  components: { BtnCircle, Footer },
  props: [ 'error' ]
}
</script>

<style lang="scss">
.error-page {
  background: $gray;
  padding: 50px 0;

  background: url("/media/error-page/bg.jpg") center / cover;
  color: #fff;

  animation: fadeIn 1s ease 0.75s;
  animation-fill-mode: both;

  @each $breakpoint, $w in $breakpoints {
    @include media-breakpoint-only($breakpoint, $breakpoints) {
      $navbar: map_get($navbar-heights, $breakpoint);
      height: calc(100vh - #{$navbar});
    }
  }

  &__wrp {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
  }

  &__right-side {
    align-self: flex-end;
  }

  &__footer {
    outline: 1px dashed red;

    background: $light-gray;
    color: $gray;

    padding-left: 8.33%;

    @each $breakpoint, $w in $breakpoints {
      @include media-breakpoint-only($breakpoint, $breakpoints) {
        $footer: map_get($footer-heights, $breakpoint);
        height: $footer;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &__wrp {
      flex-direction: row;
    }

    &__left-side {
      align-self: flex-end;
      flex: 0 0 50%;
    }

    &__right-side {
      align-self: flex-start;
      flex: 0 0 50%;
    }
  }
}

.error-code {
  display: inline-flex;
  position: relative;

  &__code {
    font-size: 12.5rem;
    line-height: 0.75;
    font-weight: bold;

    @include media-breakpoint-down(xs) {
      font-size: 11rem;
    }
  }

  &__label {
    padding-right: 5px;
    font-size: 1.25rem;
    line-height: 1.16;
    font-weight: 900;

    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: scale(-1, -1);
    text-align: right;
  }
}
</style>

