<template>
  <component :is="article"></component>
</template>

<script>
import Btn from "~/components/Btn";
import BtnCircle from "~/components/BtnCircle";
import HistoryCard from "~/components/HistoryCard";
import DocumentCard from "~/components/DocumentCard";
import Panorama from "~/components/Panorama";
import { Slider, Slide } from "~/components/Slider";
import VideoPlayer from "~/components/VideoPlayer";
import Accordion from "~/components/Accordion";
import AccordionCard from "~/components/AccordionCard";

function createArticle({ alias, html }) {
  return {
    name: alias,
    template: `<article>${ html }</article>`,
    components: {
      Btn, HistoryCard, DocumentCard, Panorama,
      BtnCircle, Slider, Slide, VideoPlayer,
      Accordion, AccordionCard
    }
  }
}

export default {
  head() {
    return {
      title: 'О компании | ' + this.pageTitle
    }
  },
  async fetch({store, error, params}) {
    const alias = params.alias || 'index';
    try {
      await store.dispatch('about/fetchContent', alias);
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  created() {
    this.setBreadcrumbs();
  },
  watch: {
    $route() {
      this.setBreadcrumbs();
    }
  },
  computed: {
    alias() {
      return this.$route.params.alias || 'index';
    },
    list() {
      return this.$store.getters['about/list'];
    },
    index() {
      return this.list.findIndex(el => el.alias === this.alias)
    },
    pageTitle() {
      return this.list[this.index].title;
    },
    prev() {
      if (this.index > 0 && this.index < this.list.length) {
        let item = this.list[this.index - 1];
        return {
          title: item.title,
          to: '/about/' + item.alias
        }
      }
      return false
    },
    next() {
      if (this.index >= 0 && this.index < this.list.length - 1) {
        let item = this.list[this.index + 1];
        return {
          title: item.title,
          to: '/about/' + item.alias
        }
      }
      return false
    },
    html() {
      return this.$store.getters['about/contents'][this.alias];
    },
    article() {
      return createArticle(this);
    }
  },
  methods: {
    setBreadcrumbs() {
      let items = [{ to: '/about', title: 'О компании' }];
      let alias     = this.alias     || '';
      let pageTitle = this.pageTitle || '';
      if (alias === 'index') alias = '';

      if(!!alias && !!pageTitle) {
        items.push({ to: '/about/' + alias, title: pageTitle });
      }
      this.$store.dispatch('breadcrumbs/setItems', items)
    }
  }
}
</script>
