<template>
  <div class="about-page">
    <MainGrid :has-nav="!!list.length">
      <template v-slot:side>
        <SideBar
          :list="list"
          :prev="prev"
          :next="next"
          :title="pageTitle"
        />
      </template>
      <div class="container">
        <div class="about-page__article">
          <nuxt-child/>
        </div>

        <div class="about-page__pagination">
          <PagePagination
            :prev="prev"
            :next="next"
          />
        </div>
      </div>
    </MainGrid>
  </div>
</template>

<script>
import MainGrid from "~/grids/Main";
import SideBar from "~/components/SideBar";
import Btn from "~/components/Btn";
import PagePagination from "../components/PagePagination";

export default {
  components: { PagePagination, Btn, SideBar, MainGrid },
  async fetch({ store, error, params }) {
    const alias = params.alias || 'index';
    try {
      await store.dispatch('about/fetchList');
    } catch (e) {
      error({ statusCode: 404 });
    }
  },
  created(){
    this.$store.dispatch('breadcrumbs/setItems', [
      { to: '/about/', title: 'О компании' },
    ])
  },
  computed: {
    list() {
      return this.$store.getters['about/list'].map(item => {
        return {
          ...item,
          to: '/about/' + (item.alias === 'index' ? '' : item.alias),
        };
      });
    },
    alias() {
      return this.$route.params.alias || 'index';
    },
    index() {
      return this.list.findIndex(el => el.alias === this.alias)
    },
    pageTitle() {
      return this.list[this.index].title;
    },
    prev() {
      if (this.index > 0 && this.index < this.list.length) {
        let item = this.list[this.index - 1];
        return {
          title: item.title,
          to: '/about/' + (item.alias === 'index' ? '' : item.alias)
        }
      }
      return false
    },
    next() {
      if (this.index >= 0 && this.index < this.list.length - 1) {
        let item = this.list[this.index + 1];
        return {
          title: item.title,
          to: '/about/' + (item.alias === 'index' ? '' : item.alias)
        }
      }
      return false
    },
  },
}
</script>

<style lang="scss">
  .about-page {
    &__pagination {
      margin-top: 100px;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        margin-top: 50px;
      }
    }
  }
</style>
