<template>
  <div class="contacts-page">
    <MainGrid>
      <template v-slot:side>
        <SideBar title="Контакты" />
      </template>
      <template v-slot:fixed-body>
        <iframe
          class="contacts-page__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6028.149081593647!2d44.498453891271886!3d48.530254046741355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x410534b4fea204f7%3A0x4afc7d92cac59f60!2z0JrRgNCw0YHQvdC-0LDRgNC80LXQudGB0LrQuNC5INCh0YPQtNC-0YDQtdC80L7QvdGC0L3Ri9C5INCX0LDQstC-0LQ!5e0!3m2!1sru!2sru!4v1588758764036!5m2!1sru!2sru"
          width="100%"
          height="100%"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
          aria-hidden="true"
          tabindex="0"
        >
        </iframe>
      </template>

      <div class="container">
        <div class="contacts-buttons">
          <div class="contacts-buttons__item">
            <btn-circle href="tel:+78442550156" color="white" icon="phone" :icon-size="1.2">
              <span class="color-gray small-text d-block mb-1">Телефон</span>
              <span class="color-brand font-bold nowrap">+ 7 (8442) 55-01-56</span>
            </btn-circle>
          </div>
          <div class="contacts-buttons__item">
            <btn-circle href="mailto:great.river.vlg@yandex.ru" color="white" icon="mail" :icon-size="1.2">
              <span class="color-gray small-text d-block mb-1">Электронная почта</span>
              <span class="color-brand font-bold nowrap">great.river.vlg@yandex.ru</span>
            </btn-circle>
          </div>
          <div class="contacts-buttons__item">
            <btn-circle href="https://goo.gl/maps/bui6HC3MeigzyNYk7" target="_blank" color="white" icon="location" :icon-size="1.6">
              <span class="color-gray small-text d-block mb-1">Адрес завода</span>
              <span class="color-brand font-bold">400022, г.&nbsp;Волгоград, ул.&nbsp;Сухой&nbsp;док,&nbsp1а</span>
            </btn-circle>
          </div>
        </div>
        <br>
        <ContactForm />

      </div>
    </MainGrid>
    </div>
</template>
<script>
import MainGrid from "~/grids/Main";
import BtnCircle from "~/components/BtnCircle";
import SideBar from "~/components/SideBar";
import ContactForm from "~/components/forms/ContactForm";

export default {
  components: { ContactForm, SideBar, BtnCircle, MainGrid },
  head() {
    return {
      title: 'Контакты'
    }
  },
  created(){
    this.$store.dispatch('breadcrumbs/setItems', [
      { to: '/contacts/', title: 'Контакты' },
    ])
  },
}
</script>

<style lang="scss">
.contacts-page {
  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cce7c8;
  }
}

.contacts-buttons {
  position: relative;
  margin: 0 -10px;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 10px;
  }
}
</style>
