<template>
  <Grid>
    <template v-slot:fixed-bg>
      <video class="video-bg" poster="/media/home/bg-video__poster.jpg" muted playsinline autoplay loop>
        <source src="/media/home/bg-video.mp4" type="video/mp4" />
      </video>
    </template>
    <template v-slot:fixed-header>
      <h1>Комплексное обслуживание кораблей, барж и катеров</h1>
    </template>
    <template v-slot:fixed-body>
      <div class="row">
        <div class="col-lg-11">
          <p class="large-text">Волгоградский судоремонтный завод осуществляет ремонтные работы по стандартам “Российского Речного Регистра”</p>
        </div>
      </div>
      <div class="row d-none d-md-flex">
        <div class="col">
          <div class="info">
            <div class="info__val">258</div>
            <div class="info__label">квалифицированных <br><b>сотрудников</b></div>
          </div>
        </div>
        <div class="col">
          <div class="info">
            <div class="info__val">150</div>
            <div class="info__label">выполненых <br><b>проектов</b></div>
          </div>
        </div>
        <div class="col">
          <div class="info">
            <div class="info__val">88</div>
            <div class="info__label">лет <br><b>накопленного опыта</b></div>
          </div>
        </div>
      </div>
    </template>

    <div class="home-page">
      <div class="home-page__section home-page__section--services">
        <div class="container">
          <h3 ref="serviceTitle">Услуги <sup>{{ totalServicesCount }}</sup></h3>
          <p ref="serviceDec">Волгоградский судоремонтный завод готов предложить судовладельцам не только межсезонный плановый ремонт по стандартам «Российского Речного Регистра» и зимний отстой, но и выполнить любые незапланированные работы, в том числе и по ликвидации аварийных ситуаций.</p>
          <div ref="serviceList" class="row mt-4">
            <div
              v-for="{ icon, title, services, alias } of servicesList"
              class="col-md-6"
            >
              <nuxt-link class="services-item" :to="'/services#' + alias">
                <div class="services-item__icon">
                  <svg-icon class="services-item__svg" :name="icon" />
                </div>
                <div class="services-item__text">
                  <h5 class="services-item__name">{{ title }}</h5>
                  <p class="services-item__count">{{ services.length }} {{ services.length === 1 ? 'услуга' : 'услуг' }}</p>
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>

      <div class="home-page__section home-page__section--projects">
        <div class="container">
          <h3 ref="projectsTitle">Проекты <sup>{{ projectsLength }}</sup></h3>
          <p ref="projectsDesc">Волгоградский судоремонтный завод готов предложить судовладельцам не только межсезонный плановый ремонт по стандартам «Российского Речного Регистра» и зимний отстой, но и выполнить любые незапланированные работы, в том числе и по ликвидации аварийных ситуаций.</p>
          <div ref="projectsCarousel">
            <Carousel class="mt-4">
              <template v-slot:actions>
                <btn-circle reverse to="/projects">
                  <span class="color-brand large-text">Все проекты</span>
                </btn-circle>
              </template>
              <CarouselItem v-for="{ id, alias, title, type, img } of projectsList" :key="id">
                <ProjectMiniCard
                  :title="title"
                  :type="type"
                  :img="img"
                  :url="'/project/' + alias"
                >
                </ProjectMiniCard>
              </CarouselItem>
            </Carousel>
          </div>
        </div>
      </div>
    </div>
  </Grid>
</template>

<script>
import Grid from "~/grids/HomeGrid";
import { Carousel, CarouselItem } from "~/components/Carousel";
import ProjectMiniCard from "~/components/ProjectMiniCard";
import Btn from "../components/Btn";
import BtnCircle from "../components/BtnCircle";
import InertElement from "../animations/InertElement";

export default {
  async fetch({ store, error, params }) {
    try {
      await store.dispatch('services/fetchList');
      await store.dispatch('projects/fetchList');
    } catch (e) {
      error({ statusCode: 404 });
      throw e;
    }
  },
  head() {
    return {
      title: 'Главная'
    }
  },
  components: {
    BtnCircle,
    Btn,
    Grid,
    Carousel,
    CarouselItem,
    ProjectMiniCard,
  },
  computed: {
    servicesList() {
      return this.$store.getters['services/list']
    },
    totalServicesCount() {
      return this.$store.getters['services/totalServicesCount']
    },
    projectsList() {
      return this.$store.getters['projects/list'].slice(0, 5);
    },
    projectsLength() {
      return this.$store.getters['projects/list'].length
    }
  },
  created() {
    this.inertElements = [];
  },
  mounted() {
    if (window.innerWidth > 1280) this.initInertElements();
  },
  beforeDestroy() {
    this.destroyInertElements();
  },
  methods: {
    initInertElements() {
      this.inertElements = [
        new InertElement(this.$refs.serviceTitle, {factor: 0.3}),
        new InertElement(this.$refs.serviceDec, {factor: 0.5}),
        new InertElement(this.$refs.serviceList, {factor: 0.7}),
        new InertElement(this.$refs.projectsTitle, {factor: 0.3}),
        new InertElement(this.$refs.projectsDesc, {factor: 0.5}),
        new InertElement(this.$refs.projectsCarousel, {factor: 0.7}),
      ];
    },
    destroyInertElements() {
      this.inertElements.forEach(inertElement => inertElement.destroy());
    }
  }
}
</script>

<style lang="scss">

.home-page {
  //overflow: hidden;
  h3 {
    @include media-breakpoint-up(xl) {
      margin-bottom: 20px;
    }
  }

  p {
    color: $gray;
  }

  .swiper-container {
    overflow: visible;
  }

  &__section {
    position: relative;
    background: $white;

    padding: 5px 0 30px;

    @include media-breakpoint-up(md) {
      padding: 50px 0;
    }

    @include media-breakpoint-up(xxl) {
      padding: 75px 0;
    }
  }

  &__section--services {
    overflow: hidden;
    @media (min-width: map_get($breakpoints, "xl")) and (min-height: 700px){
      position: sticky;
      top: 40px;
    }
  }

  &__section--projects {
    overflow: hidden;
    background: $light;

    @include media-breakpoint-up(xl) {
      min-height: calc(100vh - 235px);
      padding-bottom: 20px;
    }

    @include media-breakpoint-up(xxl) {
      min-height: calc(100vh - 290px);
    }
  }
}
</style>

<style lang="scss" scoped>
.services-item {
  $self: &;

  position: relative;
  display: flex;
  align-items: center;
  margin: 0 -20px;
  padding: 3vh 10px 3vh 20px;
  transition: background-color 0.5s ease;
  cursor: pointer;

  color: inherit;
  &:hover { text-decoration: none; }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $brand;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s, transform 0.75s;
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1);
  }


  &__icon,
  &__text
  {
    position: relative;
  }
  &__icon {
    $size: 5.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: $size;
    width:     $size;
    height:    $size;

    margin-right: 0.8rem;

    font-size: 4rem;
    text-align: center;

    border: 1px solid #EBEEF1;
    border-radius: 50%;

    background: $white;

    transition: transform 0.5s ease;
    #{$self}:hover & {
      transform: scale(0.95);
    }
  }

  &__svg {
    fill: #C3CCD5;
  }

  &__name {
    margin-bottom: 0;
    color: $brand;

    #{$self}:hover & {
      color: $white;
    }
  }

  &__count {
    margin-top: 0;
    color: $gray;

    #{$self}:hover & {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.info {
  margin-top: 2rem;

  &__val {
    margin-bottom: 0.5rem;
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 100%;
  }

  &__label {
    line-height: 100%;
  }
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-bg::-webkit-media-controls {
  display: none !important;
}
</style>
