<template>
  <MainGrid :hasNav="true">
    <template v-slot:side>
      <SideBar
        :list="filterList"
        :title="$metaInfo.title"
      />
    </template>

    <div class="container">
      <transition-group name="list-complete" tag="div" class="projects-list">
        <project-card
          class="list-complete-item"
          v-for="item of projectsList"
          :key=item.id
          :img=item.img
          :title=item.title
          :url="'/project/' + item.alias"
          :type=item.type
        >
          <ul v-if="!!item.tags">
            <li v-for="tag of item.tags">{{ tag }}</li>
          </ul>
        </project-card>
      </transition-group>
    </div>
  </MainGrid>
</template>
<script>
import MainGrid from "~/grids/Main"
import SideBar from "~/components/SideBar";
import ProjectCard from "~/components/ProjectCard";

export default {
  components: { MainGrid, SideBar, ProjectCard },
  async fetch({ store, error, params }) {
    try {
      await store.dispatch('projects/fetchList');
      let index = store.getters['projects/filterList'].findIndex(el => el.filter === params.filter);
      if (index < 0) throw 404;
    } catch (e) {
      error({ statusCode: 404 });
    }
  },
  head() {
    return {
      title: 'Проекты'
    }
  },
  computed: {
    filter() { return this.$route.params.filter },
    filterList() {
      return this.$store.getters['projects/filterList'];
    },
    projectsList() {
      return this.filterList.find(el => el.filter === this.filter).items;
    }
  },
  created(){
    this.$store.dispatch('breadcrumbs/setItems', [
      { to: '/projects/', title: 'Проекты' },
    ])
  },
}
</script>

<style>
.projects-list {
  padding-top: 30px;
  position: relative;
  width: 100%;
}
</style>
