<template>
  <MainGrid :has-nav="!!sideList.length">
    <template v-slot:side>
      <SideBar
        :list="sideList"
        :title="$metaInfo.title"
      />
    </template>
    <div class="container">
      <p class="large-text">Волгоградский судоремонтный завод готов предложить судовладельцам не только межсезонный плановый ремонт по стандартам «Российского Речного Регистра» и зимний отстой, но и выполнить любые незапланированные работы, в том числе и по ликвидации аварийных ситуаций.</p>
      <br>
      <section
        v-for="{ alias, title, header, content, img, services } of servicesList"
        :id="alias"
      >
        <h3>{{ header || title }}</h3>
        <div class="mb-4" v-html="content"></div>
        <p><img :src="img" :alt="title" /></p>
        <ol v-if="!!services && !!services[0]" class="list-underlined list-flex">
          <li v-for="service of services" v-if="!!service">{{ service }}</li>
        </ol>
      </section>
    </div>
  </MainGrid>
</template>
<script>
import MainGrid from "~/grids/Main";
import SideBar from "~/components/SideBar";

let isSafari = false;
if (typeof window !== "undefined") isSafari = /^((?!chrome|android).)*safari/i.test(window.navigator.userAgent);

export default {
  components: { SideBar, MainGrid },
  async fetch({ store, error, params }) {
    try {
      if (store.getters['services/list'].length === 0) await store.dispatch('services/fetchList');
    } catch (e) {
      error({ statusCode: 404 });
      throw e;
    }
  },
  head() {
    return {
      title: 'Услуги',
    }
  },
  computed: {
    servicesList() {
      return this.$store.getters['services/list']
    },
    sideList() {
      return this.servicesList.map(({title, alias}) => ({ title, to: '#' + alias }))
    }
  },
  created(){
    this.$store.dispatch('breadcrumbs/setItems', [
      { to: '/services/', title: 'Услуги' },
    ]);
  },
  mounted() {
    window.addEventListener('scroll', this.scrollHandler);

    this.scrollToHash();
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.scrollHandler);
  },
  methods: {
    scrollToHash() {
      if (!window.location.hash) return false;

      const scrollToElement = this.$el.querySelector(window.location.hash);
      if (scrollToElement) {
        const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;
        const top = scrollToElement.offsetTop;
        scrollElement.scrollTop = top - 30;
      }
    },
    scrollHandler() {
      let activeItem = null;
      this.sideList.forEach((item, i) => {
        const elSection = this.$el.querySelector(item.to);
        if(!!elSection) {
          const rect = elSection.getBoundingClientRect();
          if (rect.top - window.innerHeight / 3 < 0) {
            activeItem = item;
          }
        }
      });

      if (activeItem && window.location.hash !== activeItem.to) {
        const route = {
          name: "services",
          hash: activeItem.to,
          params: {
            noScroll: true
          },
        };

        if (isSafari) {
          this.$router.push(route)
        } else {
          this.$router.replace(route)
        }
      }
    },
  }
}
</script>
