<template>
  <div>
    <div class="container">
      <br>
      <br>
      <h1>{{ $metaInfo.title }}</h1>
      <hr>
      <br>
    </div>
    <section>
      <div class="container">
        <h1>Сетка</h1>
        <hr>
        <br>
      </div>
      <div class="grid-example">
        <div class="container">
          <div class="row">
            <div class="col col-1"><span>1</span></div>
            <div class="col col-1"><span>2</span></div>
            <div class="col col-1"><span>3</span></div>
            <div class="col col-1"><span>4</span></div>
            <div class="col col-1"><span>5</span></div>
            <div class="col col-1"><span>6</span></div>
            <div class="col col-1"><span>7</span></div>
            <div class="col col-1"><span>8</span></div>
            <div class="col col-1"><span>9</span></div>
            <div class="col col-1"><span>10</span></div>
            <div class="col col-1"><span>11</span></div>
            <div class="col col-1"><span>12</span></div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <br>
      <h1>Акордион</h1>
      <hr>
      <br>
      <Accordion>
        <AccordionCard v-for="index in 3" :key="index">
          <template v-slot:header>
            <div class="d-lg-flex justify-content-between">
              <h5 class="color-brand">Сборщик-достройщик судовой 4-5 разряд</h5>
              <h5 class="color-gray">от 35 000 рублей</h5>
            </div>
          </template>

          <p>Наличие удостоверения о соответствующем профессиональном образовании, запись в ТК и опыта работы по профессии:</p>
          <ul>
            <li>Сборка крупногабаритных плоскостных секций со сложной кривизной</li>
            <li>Объемных секций с криволинейными обводами</li>
            <li>Формирование судна на стапеле из блок-секций для средней части корпуса</li>
            <li>Установка деталей насыщения на конструкциях</li>
          </ul>
          <p>
            Чтобы откликнуться на эту вакансию, позвоните по телефону <a href="tel:+78442550156">+7 (8442) 55-01-56</a>
            или направьте резюме на электронную почту <a href="mailto:great.river.vlg@yandex.ru">great.river.vlg@yandex.ru</a>
          </p>
        </AccordionCard>
      </Accordion>

      <h1>Типография</h1>
      <hr>

      <h6>Загловок 6</h6>
      <h5>Загловок 5</h5>
      <h4>Загловок 4</h4>
      <h3>Загловок 3</h3>
      <h2>Загловок 2</h2>
      <h1>Загловок 1</h1>

      <p class="large-text">Пример текста. Волгоградский судоремонтный завод готов предложить судовладельцам не только межсезонный плановый ремонт по стандартам «Российского Речного Регистра» и зимний отстой, но и выполнить любые незапланированные работы, в том числе и по ликвидации аварийных ситуаций.</p>
      <p>Пример текста. Волгоградский судоремонтный завод готов предложить судовладельцам не только межсезонный плановый ремонт по стандартам «Российского Речного Регистра» и зимний отстой, но и выполнить любые незапланированные работы, в том числе и по ликвидации аварийных ситуаций.</p>
      <p class="small-text">Пример текста. Волгоградский судоремонтный завод готов предложить судовладельцам не только межсезонный плановый ремонт по стандартам «Российского Речного Регистра» и зимний отстой, но и выполнить любые незапланированные работы, в том числе и по ликвидации аварийных ситуаций.</p>
      <p><a href="#hash1">Пример ссылки</a></p>
      <p><a href="#hash2">Пример ссылки</a></p>

      <p>
        <span class="color-example bg-brand">Brand</span>
        <span class="color-example bg-dark">Dark</span>
        <span class="color-example bg-gray">Gray</span>
        <span class="color-example bg-light-gray">Light Gray</span>
        <span class="color-example bg-light">Light</span>
        <span class="color-example bg-white">white</span>
        <span class="color-example bg-red">red</span>
      </p>

      <br>

      <ul>
        <li>Элемент маркерованого списка 1</li>
        <li>Элемент маркерованого списка 2</li>
        <li>Элемент маркерованого списка 3</li>
        <li>Элемент маркерованого списка 4</li>
        <li>Элемент маркерованого списка 5</li>
        <li>Элемент маркерованого списка 6</li>
      </ul>

      <br>

      <ul class="list-dash">
        <li>Элемент маркерованого списка 1</li>
        <li>Элемент маркерованого списка 2</li>
        <li>Элемент маркерованого списка 3</li>
        <li>Элемент маркерованого списка 4</li>
        <li>Элемент маркерованого списка 5</li>
        <li>Элемент маркерованого списка 6</li>
      </ul>

      <br>

      <ol>
        <li>Элемент нумерованного списка 1</li>
        <li>Элемент нумерованного списка 2</li>
        <li>Элемент нумерованного списка 3</li>
        <li>Элемент нумерованного списка 4</li>
        <li>Элемент нумерованного списка 5</li>
        <li>Элемент нумерованного списка 6</li>
      </ol>

      <br>

      <ol class="list-underlined list-flex">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, debitis deleniti dignissimos eius et, eum facere iste modi molestiae necessitatibus nostrum officiis quis quod recusandae repudiandae sapiente, similique ut!</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, debitis deleniti dignissimos eius et, eum facere iste modi molestiae necessitatibus nostrum officiis quis quod recusandae repudiandae sapiente, similique ut!</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, debitis deleniti dignissimos eius et, eum facere iste modi molestiae necessitatibus nostrum officiis quis quod recusandae repudiandae sapiente, similique ut!</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, debitis deleniti dignissimos eius et, eum facere iste modi molestiae necessitatibus nostrum officiis quis quod recusandae repudiandae sapiente, similique ut!</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, debitis deleniti dignissimos eius et, eum facere iste modi molestiae necessitatibus nostrum officiis quis quod recusandae repudiandae sapiente, similique ut!</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, debitis deleniti dignissimos eius et, eum facere iste modi molestiae necessitatibus nostrum officiis quis quod recusandae repudiandae sapiente, similique ut!</li>
      </ol>

      <br>
      <h1>Иконки</h1>
      <hr>
      <p class="icons-example">
        <svg-icon class="fill-brand" name="logo" />
        <svg-icon class="fill-brand" name="arrow-left" />
        <svg-icon class="fill-brand" name="arrow-right" />
        <svg-icon class="fill-brand" name="arrow-next" />
        <svg-icon class="fill-brand" name="arrow-prev" />
        <svg-icon class="fill-brand" name="arrow-close" />
        <svg-icon class="fill-brand" name="arrow-open" />
        <svg-icon class="fill-brand" name="check" />
        <svg-icon class="fill-brand" name="download" />
        <svg-icon class="fill-brand" name="full-page" />
        <svg-icon class="fill-brand" name="mail" />
        <svg-icon class="fill-brand" name="pause" />
        <svg-icon class="fill-brand" name="phone" />
        <svg-icon class="fill-brand" name="play" />
        <svg-icon class="fill-brand" name="scroll" />
        <svg-icon class="fill-brand" name="location" />
        <svg-icon class="fill-brand" name="question" />
        <svg-icon class="fill-brand" name="ship-repair" />
        <svg-icon class="fill-brand" name="ship-emergency-repair" />
        <svg-icon class="fill-brand" name="berth" />
        <svg-icon class="fill-brand" name="climb" />
        <svg-icon class="fill-brand" name="ship-lifting" />
        <svg-icon class="fill-brand" name="ship-construction" />
        <svg-icon class="fill-brand" name="form-success" />
        <svg-icon class="fill-brand" name="form-fail" />
      </p>

      <br>
      <h1>Логотип</h1>
      <hr>
      <br>
      <Logo/>

      <br>
      <h1>Кнопки</h1>
      <hr>
      <br>
      <p>
        <btn @click.native="testClickBtn"><span class="font-bold">Отправить</span></btn>
        <btn icon="arrow-next" @click.native="testClickBtn"><span class="font-bold">Отправить сообщение</span></btn>
      </p>
      <p>
        <btn class="btn_block" icon="arrow-next" @click.native="testClickBtn">
          <span class="translucent small-text">Следующий раздел</span><br>
          <span class="font-bold">Техническая база</span>
        </btn>
      </p>
      <br>
      <p>
        <btn-circle icon="check" @click.native="testClickBtn" />
        <btn-circle icon="check" color="light-gray" @click.native="testClickBtn" />
        <btn-circle icon="check" color="light" @click.native="testClickBtn" />
        <btn-circle icon="check" color="white" @click.native="testClickBtn" />
      </p>
      <p>
        <btn-circle @click.native="testClickBtn" icon="arrow-prev">
          <span class="color-gray">Перейти к разделу</span><br>
          <span class="color-brand large-text">Техническая база</span>
        </btn-circle>
      </p>
      <p>
        <btn-circle @click.native="testClickBtn" icon="arrow-next" reverse>
          <div style="text-align: right">
            <span class="color-gray">Перейти к разделу</span><br>
            <span class="color-brand large-text">Техническая база</span>
          </div>
        </btn-circle>
      </p>
      <p>
        <btn-circle @click.native="testClickBtn" icon="phone" pulse>
          <span class="color-brand large-text">+7 (8442) 55-01-56</span><br>
          <span class="color-gray">great.river.vlg@yandex.ru</span>
        </btn-circle>

        <btn-circle @click.native="testClickBtn" icon="arrow-left" color="light-gray" vertical>
          <span class="color-gray">Вернуться</span>
        </btn-circle>
      </p>
    </section>

    <section class="container">
      <br>
      <h1>Документ</h1>
      <hr>
      <br>
      <div class="document__example">
        <document-card img="/media/license/license.png" alt="Лицензия">
          Лицензия на осуществление заготовки, хранения, переработки и реализации лома черных и цветных металлов
        </document-card>
      </div>
    </section>

    <section class="container">
      <br>
      <h1>Карточка проекта</h1>
      <hr>
      <br>
      <div class="project__example">
        <project-card
          img="/media/project/1.jpg"
          title="ТН-627"
          url="/projects"
          type="Нефтебункеровщик"
        >
          <ul>
            <li>Плановый ремонт</li>
            <li>Подъем на слип</li>
            <li>Отстой и обслуживание флота</li>
          </ul>
      </project-card>
      </div>
    </section>

    <section class="container">
      <br>
      <h1>Видео</h1>
      <hr>
      <br>
      <div class="project__example">
        <video-player
          source="http://www.tplh.net/file/sample.mp4"
          poster="https://vggr.ru/accel/content/pic/7263_31.jpg"
          title="Подъем бронекатера БК-31"
        />
      </div>
    </section>

    <section class="container">
      <br>
      <h1>Карусель</h1>
      <hr>
      <br>
      <div class="carousel__example">
        <Carousel>
          <CarouselItem>
            <ProjectMiniCard
              title="ТН-627"
              url="/projects"
              type="Нефтебункеровщик"
              img="/media/project/1.jpg"
            >

            </ProjectMiniCard>
          </CarouselItem>
          <CarouselItem>
            <ProjectMiniCard
              title="Гранд"
              url="/projects"
              type="Теплоход"
              img="/media/project/2.jpg"
            >

            </ProjectMiniCard>
          </CarouselItem>
          <CarouselItem>
            <ProjectMiniCard
              title="БК-31"
              url="/projects"
              type="Бронекатер"
              img="/media/project/3.jpg"
            >

            </ProjectMiniCard>
          </CarouselItem>
          <CarouselItem>
            <ProjectMiniCard
              title="Антей"
              url="/projects"
              type="Буксир"
              img="/media/project/4.jpg"
            >

            </ProjectMiniCard>
          </CarouselItem>
          <CarouselItem>
            <ProjectMiniCard
              title="Промерный 8"
              url="/projects"
              type="Речной катер"
              img="/media/project/5.jpg"
            >

            </ProjectMiniCard>
          </CarouselItem>
        </Carousel>
      </div>
      <h1>Слайдер</h1>
      <hr>
      <br>
      <div class="slider__example">
        <Slider title="История компании">
          <Slide><img src="/media/about/history/1.jpg" alt="1"></Slide>
          <Slide><img src="/media/about/history/2.jpg" alt="2"></Slide>
          <Slide><img src="/media/about/history/3.jpg" alt="3"></Slide>
          <Slide><img src="/media/about/history/4.jpg" alt="4"></Slide>
          <Slide><img src="/media/about/history/5.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/6.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/7.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/8.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/9.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/10.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/11.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/12.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/13.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/14.jpg" alt="121221"></Slide>
          <Slide><img src="/media/about/history/15.jpg" alt="121221"></Slide>
        </Slider>
      </div>
    </section>

    <section class="container">
      <br>
      <h1>Панорама</h1>
      <hr>
      <br>
      <Panorama src="/media/about/directions/panorama.jpg"/>
    </section>

    <section class="container">
      <history-card img="/media/about/history/1.jpg" date="1890 год">
        Царицинские промышленники и судовладельцы построили большую дамбу и создали Сарептский (ныне Красноармейский) затон
      </history-card>
    </section>
    <div class="container">
      <br>
      <h1>Футер</h1>
      <hr>
    </div>
    <section class="bg-light-gray">
      <div class="container">
        <Footer />
      </div>
    </section>
  </div>
</template>

<script>
import Logo from "~/components/Logo";
import Btn from "~/components/Btn";
import BtnCircle from "~/components/BtnCircle";
import Footer from "~/components/Footer";
import DocumentCard from "~/components/DocumentCard";
import HistoryCard from "~/components/HistoryCard";
import Accordion from "~/components/Accordion";
import AccordionCard from "~/components/AccordionCard";
import ProjectCard from "~/components/ProjectCard";
import VideoPlayer from "~/components/VideoPlayer";
import ProjectMiniCard from "~/components/ProjectMiniCard";
import {Carousel, CarouselItem} from "~/components/Carousel";
import {Slider, Slide} from "~/components/Slider";
import Panorama from "../components/Panorama";

export default {
  components: {
    Panorama,
    HistoryCard, Accordion, AccordionCard, Footer, BtnCircle, Btn,
    Logo , DocumentCard, ProjectCard, VideoPlayer, ProjectMiniCard,
    Slider, Slide, Carousel, CarouselItem
  },

  head() {
    return {
      title: 'UI KIT',

    }
  },
  methods: {
    testClickBtn(e, ctx) {
      alert('Кнопка нажата');
    }
  }
}
</script>

<style lang="scss" scoped>
  .document__example {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 55px;
  }
  .color-example {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    justify-content: left;
    border: 1px solid $gray;
  }

  .grid-example {
    .container-fluid {
      outline: 2px dashed rgba(0, 63, 255, 0.71);
    }
    .container {
      outline: 2px dashed rgba(21, 255, 6, 0.77);
    }
    .col-1 {
      outline: 1px solid rgba(255, 0, 133, 0.33);

      span {
        display: block;
        height: 100px;
        background: rgba(255, 0, 133, 0.33);
      }
    }
  }

  .icons-example {
    font-size: 48px;
  }

  .carousel__example {
    max-width: 1130px;
  }

  .slider__example {
    max-width: 1230px;
    width: 100%;
  }
</style>
