<template>
  <MainGrid>
    <template v-slot:side>
      <SideBar
        title="Нефтебункеров&shy;щик ТН-627"
        :title="type + ' ' + title"
        :prev="prev"
        :next="next"
      />
    </template>
    <div class="project-page container">

      <div v-if="!!content" v-html="content" class="mb-5"></div>

      <Slider v-if="gallery.length > 0" :title="galleryName" class="mb-5">
        <Slide v-for="{ id, fileurl, name } of gallery" :key="id">
          <img :src="API_HOST + fileurl" :alt="name">
        </Slide>
      </Slider>

      <div v-if="!!list[0]">
        <h3>В рамках работы выполнено:</h3>
        <ul class="list-flex">
          <li v-for="val of list">{{ val }}</li>
        </ul>
      </div>
    </div>
  </MainGrid>
</template>

<script>
import { API_HOST } from "~/config";
import MainGrid from "~/grids/Main";
import SideBar from "~/components/SideBar";
import {Slider, Slide} from "~/components/Slider";


export default {
  components: { SideBar, MainGrid, Slider, Slide },
  head() {
    return {
      title: 'Проекты'
    }
  },
  data() {
    return { API_HOST }
  },
  async asyncData({ store, error, params }) {
    try {
      const list = await store.dispatch('projects/fetchList');
      if (!!params.alias && list.findIndex(({ alias }) => alias === params.alias) !== -1) {
        const content = await store.dispatch('projects/fetchContent', params.alias);

        return { ...content };
      } else {
        throw 'error 404';
      }
    } catch (e) {
      error({ statusCode: 404 });
    }
  },
  computed: {
    projectsList() {
      return this.$store.getters['projects/list'];
    },
    alias() {
      return this.$route.params.alias;
    },
    index() {
      return this.projectsList.findIndex(item => item.alias === this.alias);
    },
    next() {
      let nextIndex = this.index + 1;
      if (nextIndex >= this.projectsList.length) nextIndex = 0;
      const nextItem = this.projectsList[nextIndex];
      const {type, title, alias} = nextItem;

      return {
        title: type + ' ' + title,
        to: '/project/' + alias
      };
    },
    prev() {
      let prevIndex = this.index - 1;
      if (prevIndex < 0) prevIndex = this.projectsList.length - 1;
      const prevItem = this.projectsList[prevIndex];
      const {type, title, alias} = prevItem;

      return {
        title: type + ' ' + title,
        to: '/project/' + alias
      };
    }
  },
  created(){
    this.$store.dispatch('breadcrumbs/setItems', [
      { to: '/projects', title: 'Проекты' },
      { to: '/projects/', title:  'TH-627' },
    ])
  }
}
</script>

<style lang="scss">
.project-page {

}
</style>
