<template lang="pug">
.checkbox(
  :class="classes"
  @click="value_ = !value_"
)
  input.checkbox__native(type='checkbox' v-bind="$attrs" v-model="value_" ref='native')
  .checkbox__input
    svg-icon.checkbox__icon(name="check")
  .checkbox__label(v-if="!!$slots.default")
    slot
</template>

<script>
export default {
  name: "Checkbox",
  props: {
    value: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    error: {
      type: [String, Boolean],
      default: false
    }
  },
  data() {
    return {
      value_: false
    }
  },
  computed: {
    classes() {
      return {
        'checkbox--checked':   !!this.value_,
        'checkbox--has-error': !!this.error
      }
    }
  },
  watch: {
    value(val, old) {
      if (val !== old) this.value_ = val;
    },
    value_(val) {
      this.$emit('input', val)
    }
  },
  created() {
    this.value_ = this.value;
  },
}
</script>

<style lang="scss">
.checkbox {
  $self: &;

  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;

  &__native {
    position: absolute;
    top:  -999px;
    left: -999px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__input {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width:  30px;
    height: 30px;
    flex: 0 0 30px;

    margin-right: 1.2rem;

    background: $white;
    border: 1px solid #D5DEE6;

    #{$self}--has-error & {
      border-color: #BB0000;
    }

    #{$self}--checked & {
      background: $brand;
    }

    #{$self}--checked#{$self}--has-error & {
      background: #FFF0F0;
    }
  }

  &__icon {
    fill: $white;

    #{$self}--checked#{$self}--has-error & {
      fill: #BB0000;
    }
  }
}
</style>
