<template>
  <form class="contact-form" @submit.prevent="submit" :class="classes">
    <transition name="fade" mode="out-in">
      <div v-if="!status" class="contact-form__fields" key="fields">
        <h3>Написать нам</h3>
        <div class="row">
          <div class="col-md-6 mb-4">
            <entry-field
              label="Ваше имя *"
              v-model="fields.name.value"
              :error="fields.name.error"
              @blur="verify('name')"
              @input="inputHandler('name')"
            />
          </div>
          <div class="col-md-6 mb-4">
            <entry-field
              type="tel"
              label="Телефон *"
              placeholder="+7 (___) ___ - __ __"
              v-model="fields.phone.value"
              :error="fields.phone.error"
              @blur="verify('phone')"
              @input="inputHandler('phone')"
              v-mask="'+7 (###) ###-##-##'"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <entry-field
              type="mail"
              label="Электронная почта"
              v-model="fields.email.value"
              :error="fields.email.error"
              @blur="verify('email')"
              @input="inputHandler('email')"
            />
          </div>
          <div class="col-md-6 mb-4">
            <entry-field
              type="text"
              label="Тема обращения"
              v-model="fields.theme.value"
              :error="fields.theme.error"
              @blur="verify('theme')"
              @input="inputHandler('theme')"
            />
          </div>
        </div>
        <div class="mb-4">
          <entry-field
            type="textarea"
            label="Ваше сообщение"
            v-model="fields.message.value"
            :error="fields.message.error"
            @blur="verify('message')"
            @input="inputHandler('message')"
          />
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <Checkbox
              v-model="fields.consent.value"
              :error="fields.consent.error"
              @input="inputHandler('consent')"
            >Нажимая кнопку «Отправить», я <a>даю согласие</a> на обработку моих персональных данных</Checkbox>
          </div>
          <div class="col-md-6 mb-4">
            <btn class="btn_block" icon="arrow-next"><span class="font-bold">Отправить сообщение</span></btn>
          </div>
        </div>
      </div>

      <div v-else-if="!!status" class="contact-form__status" key="status">
        <div v-if="status === 'success'" class="form-status">
          <div class="form-status__icon">
            <svg-icon class="fill-brand" name="form-success" />
          </div>
          <div class="form-status__text">
            <h3>Заявка успешно отправлена!</h3>
            <p>В ближайшее время с вами свяжется наш менеджер</p>
          </div>
          <btn class="form-status__btn font-bold" @click.native.prevent="status = null">Понятно</btn>
        </div>
        <div v-if="status === 'fail'" class="form-status">
          <div class="form-status__icon">
            <svg-icon class="fill-red" name="form-fail" />
          </div>
          <div class="form-status__text">
            <h3>Ошибка отправки</h3>
            <p>Ваша заявку не удалось принять. Попробуйте еще раз</p>
          </div>
          <btn class="form-status__btn font-bold" @click.native.prevent="status = null">Попробовать</btn>
        </div>
      </div>
    </transition>
  </form>
</template>

<script>
import { VueMaskDirective } from 'v-mask';
import EntryField from "./EntryField";
import Checkbox from "./Checkbox";
import Btn from "../Btn";
import { API_ROUTE } from "../../config";

export default {
  name: "ContactForm",
  directives: {
    mask: VueMaskDirective
  },
  components: { Btn, Checkbox, EntryField },
  data() {
    return {
      status: null,
      loading: false,
      fields: {
        name:    { value: '', error: undefined },
        phone:   { value: '', error: undefined },
        email:   { value: '', error: undefined },
        theme:   { value: '', error: undefined },
        message: { value: '', error: undefined },
        consent: { value: false, error: undefined },
      },
    }
  },
  computed: {
    classes() {
      return {
        'contact-form--loading' : this.loading
      }
    },
    formData() {
      return {
        name:    this.fields.name.value,
        phone:   this.fields.phone.value,
        email:   this.fields.email.value,
        theme:   this.fields.theme.value,
        message: this.fields.message.value,
      }
    }
  },
  watch: {
    formData(value) {
      if (typeof localStorage !== 'undefined') {
        localStorage.setItem('formData', JSON.stringify(value));
      }
    }
  },
  mounted() {
    const savedFormData = JSON.parse(localStorage.getItem('formData'));
    for(let key in savedFormData) {
      if (this.fields.hasOwnProperty(key)) {
        this.fields[key].value = savedFormData[key];
      }
    }
  },
  methods: {
    async submit(name, value) {
      if (this.loading) return false;
      let isVerify = true;
      for (let key in this.fields) {
        if (!this.verify(key)) isVerify = false;
      }
      if (isVerify) {
        this.loading = true;

        try {
          const params = new URLSearchParams();
          for (let key in this.formData) {
            params.append(key, this.formData[key]);
          }

          let res = await this.$axios({
            method: 'post',
            url: API_ROUTE.contactFormRequest,
            data: params
          });

          if (res.data.status) {
            this.status = 'success';
            this.fields.theme.value = '';
            this.fields.message.value = '';
          } else {
            throw 'Sending failed: Server error';
          }
        } catch (e) {
          console.error(e);
          this.status = 'fail';
        } finally {
          this.loading = false;
        }
      }
    },
    verify(key) {
      const field = this.fields[key];
      const value = field.value;
      let error = '';

      switch (key) {
        case 'name':
          if (!value.length) {
            error = 'Это поле обязательно';
          } else if (!/^[A-Za-zА-Яа-я0-9 -]*?$/.test(value)) {
            error = 'Содержится недопустимый символ';
          }
          break;
        case 'phone':
          if (!value.length) {
            error = 'Это поле обязательно';
          } else if (!/^(?=.*[0-9])[- +()0-9]+$/.test(value)) {
            error = 'Не соответствует формату';
          } else if (value.length < 18) {
            error = 'Заполните номер';
          }
          break;
        case 'email':
          if (!!value.length && !/\S+@\S+\.\S+/.test(value)) {
            error = 'Не соответствует формату';
          }
          break;
        case 'theme':
          if (!/^[A-Za-zА-Яа-я0-9 -]*?$/.test(value)) {
            error = 'Содержится недопустимый символ';
          }
          break;
        case 'consent':
          if (!value) error = true;
          break;
      }

      field.error = error;
      return !error;
    },
    inputHandler(key) {
      if(typeof this.fields[key].error !== 'undefined') {
        let isVerify = this.verify(key);
      }
    }
  }
}
</script>

<style lang="scss">
@keyframes contact-form-loading {
  0%   { left: -100% }
  50%  { left: 100% }
  100% { left: 100% }
}

.contact-form {
  position: relative;
  transition: filter 0.3s ease, opacity 0.5s ease;

  &--loading {
    filter: grayscale(90%);
    overflow: hidden;
    opacity: 0.8;
    pointer-events: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0; left: -100%;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      @include media-breakpoint-up(md) {
        background: linear-gradient(113.67deg, rgba(255, 255, 255, 0) 27.61%, #FFFFFF 49.12%, rgba(255, 255, 255, 0) 68.91%);
        animation: contact-form-loading 1.5s linear 0.5s infinite;
      }
    }
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  [class*='col-'] {
    /*border: 1px solid red;*/
    padding-left:  10px;
    padding-right: 10px;
  }
}

.form-status {
  text-align: center;
  padding: 50px 0;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 5.625rem;
    width:  12.5rem;
    height: 12.5rem;
    margin: auto;

    background: $white;
    border-radius: 50%;
  }

  &__text {
    margin: 30px 0;

    p {
      color: $gray;
    }
  }
}
</style>
