<template lang="pug">
  .entry-field(:class="classes")
    textarea.entry-field__input(
      v-if="is === 'textarea'"
      v-bind="$attrs"
      v-model="value_"
      @focus="focusHandler"
      @blur="blurHandler"
      ref="textarea"
    )
    input.entry-field__input(
      v-else
      v-bind="$attrs"
      :value="value_"
      @input="inputHandler"
      @focus="focusHandler"
      @blur="blurHandler"
    )
    .entry-field__label(ref="label") {{ label }}
    transition(name="scale-in-down")
      .entry-field__error(v-if=" !!error ")
        .entry-field__error-message {{ error }}
        svg-icon.entry-field__error-icon(name="question")
</template>

<script>
export default {
  name: "EntryField",
  props: {
    type: {
      type: String,
      default: 'text',
    },
    value: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    error: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      isFocus: false,
      value_: '',
    }
  },
  computed: {
    classes() {
      return {
        'entry-field--focus': this.isFocus,
        'entry-field--not-empty': !!this.value_,
        'entry-field--error': !!this.error,
        'entry-field--is-select': this.is === 'select',
      }
    },
    is() {
      let is = 'input';
      if (this.type === 'textarea') is = 'textarea';
      return is
    }
  },
  watch: {
    value(val, old) {
      if (val !== old) this.value_ = val;
    }
  },
  created() {
    this.value_ = this.value;
  },
  mounted() {
    if (this.$refs.hasOwnProperty('textarea')) {
      const textarea = window.textarea = this.$refs.textarea;
      const label = this.$refs.label;

      textarea.onscroll = () => {
        if(textarea.scrollTop > 0) {
          label.style.opacity = '0';
          label.style.top = '0';
        } else {
          label.style.opacity = '';
          label.style.top = '';
        }
      }
    }
  },
  methods: {
    inputHandler(e) {
      this.$emit('input', e.target.value)
    },
    focusHandler(e) {
      this.isFocus = true;
      this.$emit('focus', e);
    },
    blurHandler(e) {
      this.isFocus = false;
      this.$emit('blur', e);
    }
  }
}
</script>

<style lang="scss">
.entry-field {
  $self: &;
  $inputs: 'input, textarea, .select';

  position: relative;
  padding: 10px;
  background: $white;
  border: 1px solid $white;

  transition: all 0.5s ease;
  box-sizing: border-box;

  &--error {
    background: #FFF0F0;
    border-color: #E6A0A0;
  }

  #{$inputs} {
    display: block;

    min-width: 100%;
    max-width: 100%;

    margin:0;
    padding: 30px 20px 10px 20px;
    min-height: 56px;

    box-sizing: border-box;
    border:0;
    vertical-align:middle;
    white-space:normal;
    background:none;

    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;

    color: $dark;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
  &--error {
    #{$inputs} {
      color: #BB0000;
    }
  }

  &--focus,
  &--not-empty {
    #{$inputs} {
      &::placeholder {
        opacity: 0.3;
      }
    }
  }

  textarea {
    height: 160px;
  }

  &__label {
    position: absolute;
    top: 30px;
    left: 29px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: $gray;

    pointer-events: none;

    transform-origin: top left;
    transition: all 0.3s ease;

    #{$self}--focus &,
    #{$self}--not-empty &,
    #{$self}--is-select &
    {
      transform: translateY(-7px) scale(0.75);
    }

    #{$self}--error & {
      color: #BB0000;
    }
  }


  .entry-field__error {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    text-align: center;
    pointer-events: none;
  }

  .entry-field__error-message {
    position: absolute;
    top: -50px;
    right: -35px;

    min-width: 80px;
    height: 38px;
    padding: 8px 14px;

    white-space: nowrap;
    color: $white;
    background: rgba(42, 43, 49, 0.9);
    border-radius: 24px;

    &::after {
      content: '';
      position: absolute;
      right: 35px; bottom: -20px;
      border: 10px solid transparent;
      border-top: 10px solid  rgba(42, 43, 49, 0.9);
    }

    @include media-breakpoint-up(md) {
      right: 10px;
      transform: translateX(50%);

      &::after {
        right: calc(50% - 10px);
      }
    }
  }

  &__error-icon {
    fill: #BB0000;
    font-size: 1.5rem;
  }
}
</style>
